Repository sstsimulator/sst-elements, pull requests merged in 2018-06, with the labels that each got.

#1061 New feature
  src/sst/elements/ariel/arielcore.cc
  src/sst/elements/ariel/arielcore.h
  src/sst/elements/ariel/arielcpu.h
Labels: Enhancement, SST-Ariel

#1030 TLB shootdown and Page migration
  src/sst/elements/Messier/tests/refFiles/test_Messier_gupsgen.out
  src/sst/elements/Messier/tests/refFiles/test_Messier_gupsgen_2RANKS.out
  src/sst/elements/Messier/tests/refFiles/test_Messier_gupsgen_fastNVM.out
  src/sst/elements/Messier/tests/refFiles/test_Messier_stencil3dbench_messier.out
  src/sst/elements/Messier/tests/refFiles/test_Messier_streambench_messier.out
  src/sst/elements/Opal/Opal.cc
  src/sst/elements/Opal/Opal.h
  src/sst/elements/Opal/Opal_Event.h
  src/sst/elements/Opal/mempool.cpp
  src/sst/elements/Opal/mempool.h
  src/sst/elements/Opal/tests/app/makefile
  src/sst/elements/Opal/tests/app/opal_mlm.c
  src/sst/elements/Opal/tests/app/opal_test.c
  src/sst/elements/Opal/tests/basic_1node_1smp.py
  src/sst/elements/Opal/tests/gupsgen.py
  src/sst/elements/Opal/tests/gupsgen_2RANKS.py
  src/sst/elements/Opal/tests/gupsgen_fastNVM.py
  src/sst/elements/Opal/tests/refFiles/test_Messier_gupsgen.out
  src/sst/elements/Opal/tests/refFiles/test_Messier_gupsgen_2RANKS.out
  src/sst/elements/Opal/tests/refFiles/test_Messier_gupsgen_fastNVM.out
  src/sst/elements/Opal/tests/refFiles/test_Messier_stencil3dbench_messier.out
  src/sst/elements/Opal/tests/refFiles/test_Messier_streambench_messier.out
  src/sst/elements/Opal/tests/refFiles/test_Opal_basic_1node_1smp.out
  src/sst/elements/Opal/tests/stencil3dbench_messier.py
  src/sst/elements/Opal/tests/streambench_messier.py
  src/sst/elements/Samba/PageTableWalker.cc
  src/sst/elements/Samba/PageTableWalker.h
  src/sst/elements/Samba/Samba.cc
  src/sst/elements/Samba/Samba.h
  src/sst/elements/Samba/Samba_Event.h
  src/sst/elements/Samba/TLBUnit.cc
  src/sst/elements/Samba/TLBUnit.h
  src/sst/elements/Samba/TLBentry.h
  src/sst/elements/Samba/TLBhierarchy.cc
  src/sst/elements/Samba/TLBhierarchy.h
  src/sst/elements/Samba/libSamba.cc
  src/sst/elements/Samba/tests/refFiles/test_Samba_gupsgen_mmu.out
  src/sst/elements/Samba/tests/refFiles/test_Samba_gupsgen_mmu_4KB.out
  src/sst/elements/Samba/tests/refFiles/test_Samba_gupsgen_mmu_three_levels.out
  src/sst/elements/Samba/tests/refFiles/test_Samba_stencil3dbench_mmu.out
  src/sst/elements/Samba/tests/refFiles/test_Samba_streambench_mmu.out
  src/sst/elements/ariel/arielcore.cc
  src/sst/elements/ariel/arielcore.h
  src/sst/elements/ariel/arielcpu.cc
  src/sst/elements/ariel/arielcpu.h
Labels: SST-Opal, SST-Samba

#1072 updating stake initialization to match upstream riscv-isa-sim
  src/sst/elements/miranda/generators/stake.cc
Labels: SST-Miranda

#1075 Cassini -- Cleaning up Source Tree
  src/sst/elements/cassini/addrHistogrammer.cc
  src/sst/elements/cassini/addrHistogrammer.h
  src/sst/elements/cassini/nbprefetch.cc
  src/sst/elements/cassini/nbprefetch.h
  src/sst/elements/cassini/palaprefetch.cc
  src/sst/elements/cassini/palaprefetch.h
  src/sst/elements/cassini/strideprefetch.cc
  src/sst/elements/cassini/strideprefetch.h
Labels: SST-Cassini
