Repository sstsimulator/sst-elements, pull requests merged in 2018-05, with the labels that each got.

#1007 Created a vector of lru units to collapse two nearly identical loops …
  src/sst/elements/kingsley/noc_mesh.cc
  src/sst/elements/kingsley/noc_mesh.h
Labels: Enhancement

#1011 Hughes/ariel stall
  src/sst/elements/ariel/arielcore.cc
  src/sst/elements/ariel/arielcore.h
  src/sst/elements/ariel/arielcpu.cc
  src/sst/elements/ariel/frontend/simple/examples/stream/runstream.py
Labels: Enhancement, SST-Ariel

#1014 Fixed serialization for noc_mesh_event
  src/sst/elements/kingsley/noc_mesh.h
Labels: Bug

#1017 long long to uint64_t
  src/sst/elements/ariel/arielcpu.cc
Labels: SST-Ariel

#1019 Hughes/ariel fence
  src/sst/elements/ariel/arielcore.cc
  src/sst/elements/ariel/arielcore.h
Labels: Bug, SST-Ariel

#1020 Copied dragonfly topology to dragonfly_legacy topoology.
  src/sst/elements/merlin/Makefile.am
  src/sst/elements/merlin/pymerlin.py
  src/sst/elements/merlin/topology/dragonfly_legacy.cc
  src/sst/elements/merlin/topology/dragonfly_legacy.h
Labels: Enhancement

#1021 Changed custom emberload to use legacy dragonfly model.
  src/sst/elements/scheduler/simulations/emberLoad.py
Labels: Enhancement

#1023 Migrating fence to stall
  src/sst/elements/ariel/arielcore.cc
  src/sst/elements/ariel/arielcore.h
Labels: SST-Ariel

#1022 Add kingsley test file to make-dist.
  src/sst/elements/kingsley/Makefile.am
Labels: Bug

#1015 Merlin topo changes
  src/sst/elements/merlin/hr_router/hr_router.cc
  src/sst/elements/merlin/hr_router/hr_router.h
  src/sst/elements/merlin/portControl.cc
  src/sst/elements/merlin/portControl.h
  src/sst/elements/merlin/pymerlin.py
  src/sst/elements/merlin/topology/dragonfly.cc
  src/sst/elements/merlin/topology/dragonfly.h
  src/sst/elements/merlin/topology/dragonfly2.cc
  src/sst/elements/merlin/topology/dragonfly2.h
Labels: Enhancement

#1045 Fix bug in API
  src/sst/elements/ariel/api/arielapi.h
Labels: Bug, SST-Ariel

#1047 Capture Data Values for Writing Back to Memory Model when using Ariel
  src/sst/elements/ariel/ariel_shmem.h
  src/sst/elements/ariel/arielcore.cc
  src/sst/elements/ariel/arielcore.h
  src/sst/elements/ariel/arielcpu.cc
  src/sst/elements/ariel/arielcpu.h
  src/sst/elements/ariel/arielwriteev.h
  src/sst/elements/ariel/frontend/simple/fesimple.cc
Labels: Enhancement, SST-Ariel
