Repository sstsimulator/sst-elements, pull requests merged in 2018-04, with the labels that each got.

#962 Migrate Miranda to new ELI Format
  src/sst/elements/miranda/Makefile.am
  src/sst/elements/miranda/generators/copygen.h
  src/sst/elements/miranda/generators/gupsgen.h
  src/sst/elements/miranda/generators/inorderstreambench.h
  src/sst/elements/miranda/generators/nullgen.h
  src/sst/elements/miranda/generators/randomgen.h
  src/sst/elements/miranda/generators/revsinglestream.h
  src/sst/elements/miranda/generators/singlestream.h
  src/sst/elements/miranda/generators/spmvgen.h
  src/sst/elements/miranda/generators/stake.h
  src/sst/elements/miranda/generators/stencil3dbench.h
  src/sst/elements/miranda/generators/streambench.h
  src/sst/elements/miranda/generators/streambench_customcmd.h
  src/sst/elements/miranda/miranda.cc
  src/sst/elements/miranda/mirandaCPU.h
  src/sst/elements/miranda/mirandaGenerator.h
  src/sst/elements/miranda/mirandaIncGen.cc
Labels: Enhancement, SST-Miranda

#972 Adding the kingsley element library
  src/sst/elements/kingsley/Makefile.am
  src/sst/elements/kingsley/linkControl.cc
  src/sst/elements/kingsley/linkControl.h
  src/sst/elements/kingsley/lru_unit.h
  src/sst/elements/kingsley/nocEvents.h
  src/sst/elements/kingsley/noc_mesh.cc
  src/sst/elements/kingsley/noc_mesh.h
  src/sst/elements/kingsley/tests/noc_mesh_32_test.py
  src/sst/elements/kingsley/tests/refFiles/test_kingsley_noc_mesh_32_test.out
Labels: Enhancement

#980 Mjleven/shmem fixes
  src/sst/elements/firefly/memoryModel/nWayCache.h
  src/sst/elements/firefly/memoryModel/sharedTlb.h
  src/sst/elements/firefly/memoryModel/sharedTlbUnit.h
  src/sst/elements/firefly/memoryModel/simpleMemoryModel.h
  src/sst/elements/firefly/memoryModel/thread.h
  src/sst/elements/firefly/nic.cc
  src/sst/elements/firefly/nic.h
  src/sst/elements/firefly/nicShmemStream.cc
Labels: SST-Ember

#981 add hot spot to the atomic inc motif
  src/sst/elements/ember/shmem/motifs/emberShmemAtomicInc.h
Labels: Enhancement, SST-Ember

#984 Fix make dist Issues with FireFly resulting from missing files
  src/sst/elements/firefly/Makefile.am
Labels: Bug, SST-FireFly

#994 Fixed a typo in an array index that was causing memory corruption.
  src/sst/elements/kingsley/noc_mesh.cc
Labels: Bug, SST-Kingsley

#998 Added hyperx topology to merlin
  src/sst/elements/merlin/Makefile.am
  src/sst/elements/merlin/hr_router/hr_router.cc
  src/sst/elements/merlin/hr_router/hr_router.h
  src/sst/elements/merlin/offeredload/offered_load.cc
  src/sst/elements/merlin/offeredload/offered_load.h
  src/sst/elements/merlin/portControl.cc
  src/sst/elements/merlin/portControl.h
  src/sst/elements/merlin/pymerlin.py
  src/sst/elements/merlin/router.h
  src/sst/elements/merlin/target_generator/bit_complement.h
  src/sst/elements/merlin/target_generator/target_generator.cc
  src/sst/elements/merlin/target_generator/target_generator.h
  src/sst/elements/merlin/target_generator/uniform.h
  src/sst/elements/merlin/test/nic.cc
  src/sst/elements/merlin/test/pt2pt/pt2pt_test.cc
  src/sst/elements/merlin/test/pt2pt/pt2pt_test.h
  src/sst/elements/merlin/topology/hyperx.cc
  src/sst/elements/merlin/topology/hyperx.h
Labels: Enhancement
