Repository sstsimulator/sst-elements, pull requests merged in 2018-03, with the labels that each got.

#941 Migrate cacheTracer to new ELI format
  src/sst/elements/cacheTracer/cacheTracer.cc
  src/sst/elements/cacheTracer/cacheTracer.h
Labels: Enhancement, SST-CacheTracer

#945 Migrate Prospero to new ELI Format for SST8.0
  src/sst/elements/prospero/Makefile.am
  src/sst/elements/prospero/libprospero.cc
  src/sst/elements/prospero/prosbinaryreader.h
  src/sst/elements/prospero/prosbingzreader.h
  src/sst/elements/prospero/proscpu.h
  src/sst/elements/prospero/prosreader.h
  src/sst/elements/prospero/prostextreader.h
Labels: Enhancement, SST-Prospero

#946 Add new SST 8.0 ELI Information to Zodiac
  src/sst/elements/zodiac/Makefile.am
  src/sst/elements/zodiac/zodiac.cc
  src/sst/elements/zodiac/zsirius.h
Labels: Enhancement, SST-Zodiac

#947 Switch SimpleSimulation over to new SST ELI 8.0 Format
  src/sst/elements/simpleSimulation/Makefile.am
  src/sst/elements/simpleSimulation/simpleCarWash.h
  src/sst/elements/simpleSimulation/simpleSimulation.cc
Labels: Enhancement

#952 Adding binary argument handling & small updates to Stake to improve verbose debug/info output
  src/sst/elements/miranda/generators/stake.cc
  src/sst/elements/miranda/generators/stake.h
  src/sst/elements/miranda/miranda.cc
Labels: Enhancement, SST-Miranda
