Repository sstsimulator/sst-elements, pull requests merged in 2019-09, with the labels that each got.

#1364 Added GPGPU-Sim configure option
  config/sst_check_gpgpusim.m4
Labels: Enhancement, SST-Balar, SST-BuildSystem

#1370 Removing awk from autoconf
  config/sst_check_gpgpusim.m4
Labels: SST-BuildSystem

#1372 Temp Fix for Older autoconf
  config/sst_check_gpgpusim.m4
Labels: Bug, SST-BuildSystem

#1375 Miranda: Write SharedRegion in one chunk
  src/sst/elements/miranda/mirandaMemMgr.h
Labels: Bug
