Repository sstsimulator/sst-elements, pull requests merged in 2019-08, with the labels that each got.

#1342 Merlin portcontrol
  src/sst/elements/merlin/Makefile.am
  src/sst/elements/merlin/arbitration/single_arb.h
  src/sst/elements/merlin/arbitration/single_arb_lru.h
  src/sst/elements/merlin/arbitration/single_arb_rr.h
  src/sst/elements/merlin/hr_router/hr_router.cc
  src/sst/elements/merlin/hr_router/hr_router.h
  src/sst/elements/merlin/hr_router/xbar_arb_age.h
  src/sst/elements/merlin/hr_router/xbar_arb_lru.h
  src/sst/elements/merlin/hr_router/xbar_arb_lru_infx.h
  src/sst/elements/merlin/hr_router/xbar_arb_rand.h
  src/sst/elements/merlin/hr_router/xbar_arb_rr.h
  src/sst/elements/merlin/interfaces/linkControl.cc
  src/sst/elements/merlin/interfaces/linkControl.h
  src/sst/elements/merlin/interfaces/output_arb_basic.h
  src/sst/elements/merlin/interfaces/portControl.cc
  src/sst/elements/merlin/interfaces/portControl.h
  src/sst/elements/merlin/interfaces/reorderLinkControl.cc
  src/sst/elements/merlin/interfaces/reorderLinkControl.h
  src/sst/elements/merlin/merlin.cc
  src/sst/elements/merlin/router.h
  src/sst/elements/merlin/test/pt2pt/pt2pt_test.cc
  src/sst/elements/merlin/test/pt2pt/pt2pt_test.h
  src/sst/elements/merlin/trafficgen/trafficgen.cc
  src/sst/elements/merlin/trafficgen/trafficgen.h
Labels: Enhancement

#1345 Cleaning up some type conversion warnings
  src/sst/elements/ariel/ariel_shmem.h
  src/sst/elements/ariel/frontend/simple/fesimple.cc
Labels: SST-Ariel, SST-BuildSystem, SST-Gpgpusim

#1346 Fix memory leak for custom events
  src/sst/elements/memHierarchy/membackend/memBackendConvertor.cc
Labels: Bug, SST-MemHierarchy
