Repository sstsimulator/sst-elements, pull requests merged in 2019-05, with the labels that each got.

#1273 Added configure test for CUDA and added CUDA compilation flags to ari…
  config/sst_check_cuda.m4
  src/sst/elements/ariel/Makefile.am
  src/sst/elements/ariel/configure.m4
Labels: Enhancement

#1271 memH: Fix event read after delete in directorycontroller
  src/sst/elements/memHierarchy/directoryController.cc
Labels: Bug, SST-MemHierarchy

#1275 Prospero/Ariel: Add fixes for operands > cache line size
  src/sst/elements/ariel/arielcore.cc
  src/sst/elements/prospero/proscpu.cc
Labels: Bug, SST-Ariel, SST-Prospero
