Repository sstsimulator/sst-elements, pull requests merged in 2019-04, with the labels that each got.

#1259 Reference file updates for testing
  src/sst/elements/shogun/tests/hierarchy_test.py
  src/sst/elements/shogun/tests/refFiles/test_shogun_basic_miranda.out
  src/sst/elements/shogun/tests/refFiles/test_shogun_hierarchy_test.out
Labels: SST-Shogun

#1264 Reference File Update 2
  src/sst/elements/shogun/tests/refFiles/test_shogun_hierarchy_test.out
Labels: SST-Shogun

#1265 Prospero: Enable use of ifeellucky flag with Pin trace tool
  src/sst/elements/prospero/runprosperotrace.cc
Labels: SST-Prospero

#1266 Bug Fix for Issue 1253
  src/sst/elements/shogun/arb/shogunarb.h
  src/sst/elements/shogun/arb/shogunrrarb.cc
  src/sst/elements/shogun/arb/shogunrrarb.h
  src/sst/elements/shogun/shogun.cc
  src/sst/elements/shogun/shogun.h
Labels: Bug, SST-Shogun

#1267 C int Type Support
  src/sst/elements/shogun/arb/shogunrrarb.cc
  src/sst/elements/shogun/shogun.cc
  src/sst/elements/shogun/shogun_nic.cc
  src/sst/elements/shogun/shogun_stat_bundle.h
Labels: SST-Shogun
