Repository sstsimulator/sst-elements, pull requests merged in 2019-07, with the labels that each got.

#1309 Ariel Hooks for Accelerator
  src/sst/elements/ariel/ariel_shmem.h
  src/sst/elements/ariel/arielcore.cc
  src/sst/elements/ariel/arielcore.h
  src/sst/elements/ariel/arielcpu.cc
  src/sst/elements/ariel/arielcpu.h
  src/sst/elements/ariel/arielevent.h
  src/sst/elements/ariel/arielgpuev.h
  src/sst/elements/ariel/frontend/simple/fesimple.cc
  src/sst/elements/ariel/gpu_enum.h
  src/sst/elements/memHierarchy/cacheEventProcessing.cc
Labels: AT: WIP, Enhancement, SST-Ariel, SST-Gpgpusim

#1308 fix for Issue #1305; Repairing Stake class interfaces
  src/sst/elements/miranda/generators/stake.cc
  src/sst/elements/miranda/generators/stake.h
Labels: Bug, SST-Miranda

#1316 Fix for host_define
  config/sst_check_cuda.m4
  src/sst/elements/ariel/Makefile.am
  src/sst/elements/ariel/ariel_shmem.h
  src/sst/elements/ariel/arielcore.cc
  src/sst/elements/ariel/arielcore.h
  src/sst/elements/ariel/arielcpu.cc
  src/sst/elements/ariel/arielcpu.h
  src/sst/elements/ariel/arielevent.h
  src/sst/elements/ariel/configure.m4
  src/sst/elements/ariel/frontend/simple/fesimple.cc
Labels: Bug, SST-Ariel

#1320 Re-added instruction instrumentation
  src/sst/elements/ariel/arielcpu.cc
  src/sst/elements/ariel/arielcpu.h
  src/sst/elements/ariel/frontend/simple/fesimple.cc
Labels: Bug, SST-Ariel

#1321 Debug Cleaning
  src/sst/elements/ariel/arielcore.cc
  src/sst/elements/ariel/arielcpu.h
  src/sst/elements/ariel/frontend/simple/fesimple.cc
Labels: SST-Ariel, SST-Gpgpusim

#1323 Add DRAMSim and NVDIMMSim deps to HybridSim
  config/sst_check_hybridsim.m4
Labels: Bug, SST-BuildSystem, SST-Hybridsim

#1326 Fix HybridSim configuration. Bug #1325
  config/sst_check_hybridsim.m4
Labels: Bug, SST-Hybridsim

#1330 Made PortControl a SubComponent.
  src/sst/elements/merlin/hr_router/hr_router.cc
  src/sst/elements/merlin/hr_router/hr_router.h
  src/sst/elements/merlin/hr_router/xbar_arb_age.h
  src/sst/elements/merlin/hr_router/xbar_arb_lru.h
  src/sst/elements/merlin/hr_router/xbar_arb_lru_infx.h
  src/sst/elements/merlin/hr_router/xbar_arb_rand.h
  src/sst/elements/merlin/hr_router/xbar_arb_rr.h
  src/sst/elements/merlin/portControl.cc
  src/sst/elements/merlin/portControl.h
  src/sst/elements/merlin/router.h
Labels: Enhancement
