Repository sstsimulator/sst-elements, pull requests merged in 2019-03, with the labels that each got.

#1227 Additional Print Outs of Params in simpleParamComponent
  src/sst/elements/simpleElementExample/Makefile.am
  src/sst/elements/simpleElementExample/simpleParamComponent.cc
  src/sst/elements/simpleElementExample/tests/test_simpleParamComponent.py
Labels: Enhancement, SST-SimpleComponent

#1228 Update main LICENSE files and Information
  CONTRIBUTORS.TXT
  LICENSE
  README.md
  configure.ac
Labels: Enhancement, SST-General

#1239 Hughes/shogun
  src/sst/elements/shogun/arb/shogunarb.h
  src/sst/elements/shogun/arb/shogunrrarb.cc
  src/sst/elements/shogun/arb/shogunrrarb.h
  src/sst/elements/shogun/shogun.cc
  src/sst/elements/shogun/shogun.h
  src/sst/elements/shogun/shogun_nic.cc
Labels: SST-Shogun

#1241 Allow SimpleMem to use the max_requests_per_cycle parameter from MemBackend
  src/sst/elements/memHierarchy/membackend/simpleMemBackend.cc
  src/sst/elements/memHierarchy/membackend/simpleMemBackend.h
Labels: Enhancement, SST-MemHierarchy

#1247 Shogun
  src/sst/elements/shogun/Makefile.am
  src/sst/elements/shogun/arb/shogunarb.h
  src/sst/elements/shogun/arb/shogunrrarb.cc
  src/sst/elements/shogun/arb/shogunrrarb.h
  src/sst/elements/shogun/shogun.cc
  src/sst/elements/shogun/shogun.h
  src/sst/elements/shogun/shogun_credit_event.h
  src/sst/elements/shogun/shogun_event.h
  src/sst/elements/shogun/shogun_init_event.h
  src/sst/elements/shogun/shogun_nic.cc
  src/sst/elements/shogun/shogun_nic.h
  src/sst/elements/shogun/shogun_q.h
  src/sst/elements/shogun/shogun_stat_bundle.h
  src/sst/elements/shogun/tests/basic_miranda.py
  src/sst/elements/shogun/tests/hierarchy_test.py
  src/sst/elements/shogun/tests/refFiles/test_shogun_basicMiranda.out
  src/sst/elements/shogun/tests/refFiles/test_shogun_hierarchy_test.out
Labels: Enhancement, SST-Shogun
