Repository sstsimulator/sst-elements, pull requests merged in 2019-06, with the labels that each got.

#1284 Ariel: Remove warnings from test ref files
  src/sst/elements/ariel/frontend/simple/examples/stream/tests/refFiles/test_Ariel_ariel_ivb.out
  src/sst/elements/ariel/frontend/simple/examples/stream/tests/refFiles/test_Ariel_ariel_snb.out
Labels: SST-Ariel

#1285 shogun: Fix compile warnings
  src/sst/elements/shogun/shogun.cc
  src/sst/elements/shogun/shogun_nic.cc
  src/sst/elements/shogun/shogun_nic.h
Labels: SST-Shogun

#1298 Added Cuda flags to libariel make
  src/sst/elements/ariel/Makefile.am
Labels: Bug, SST-Ariel

#1301 Updated SingleXStream
  src/sst/elements/miranda/generators/revsinglestream.cc
  src/sst/elements/miranda/generators/revsinglestream.h
  src/sst/elements/miranda/generators/singlestream.h
  src/sst/elements/miranda/tests/revsinglestream.py
Labels: Bug, SST-Miranda
