Repository sstsimulator/sst-elements, pull requests merged in 2020-03, with the labels that each got.

#1431 Miranda: Fix SPMV generator and add a test
  src/sst/elements/miranda/generators/spmvgen.h
  src/sst/elements/miranda/tests/refFiles/test_miranda_spmvgen.out
  src/sst/elements/miranda/tests/spmvgen.py
Labels: Bug, SST-Miranda

#1437 Update python files for Python3
  src/sst/elements/Messier/tests/gupsgen.py
  src/sst/elements/Messier/tests/gupsgen_2RANKS.py
  src/sst/elements/Messier/tests/gupsgen_fastNVM.py
  src/sst/elements/Samba/tests/gupsgen_mmu.py
  src/sst/elements/Samba/tests/gupsgen_mmu_4KB.py
  src/sst/elements/Samba/tests/gupsgen_mmu_opal.py
  src/sst/elements/Samba/tests/gupsgen_mmu_three_levels.py
  src/sst/elements/VaultSimC/tests/pimExper.py
  src/sst/elements/VaultSimC/tests/sdl3.py
  src/sst/elements/memHierarchy/Makefile.am
  src/sst/elements/memHierarchy/tests/testBackendCramSim.py
  src/sst/elements/memHierarchy/tests/testBridge.py
  src/sst/elements/memHierarchy/tests/testCustomCmdGoblin-3.py
  src/sst/elements/memHierarchy/tests/testKingsley.py
  src/sst/elements/memHierarchy/tests/testMemoryCache.py
  src/sst/elements/memHierarchy/tests/utils.py
  src/sst/elements/miranda/tests/goblin_singlestream3.py
  src/sst/elements/miranda/tests/gupsgen.py
  src/sst/elements/miranda/tests/hbm_singlestream1-trace.py
  src/sst/elements/prospero/tests/array/trace-common.py
  src/sst/elements/prospero/xml/sorting8cores.py
  src/sst/elements/shogun/tests/basic_miranda.py
  src/sst/elements/shogun/tests/hierarchy_test.py
  src/sst/elements/shogun/tests/hierarchy_test_multi.py
  src/sst/elements/simpleElementExample/tests/test_simpleRNGComponent.py
  src/sst/elements/zodiac/test/allreduce/allreduce.py
Labels: Enhancement

#1440 Ariel: Fixes to GPGPUSim integration with Pin3 changes
  src/sst/elements/ariel/ariel_shmem.h
  src/sst/elements/ariel/arielcpu.cc
  src/sst/elements/ariel/arielfrontend.h
  src/sst/elements/ariel/frontend/pin3/pin3frontend.cc
  src/sst/elements/ariel/frontend/pin3/pin3frontend.h
  src/sst/elements/ariel/frontend/simple/pin2frontend.cc
  src/sst/elements/ariel/frontend/simple/pin2frontend.h
Labels: Bug

#1443 Opal test reference files
  src/sst/elements/Opal/tests/refFiles/test_Opal_basic_1node_1smp.out
  src/sst/elements/Opal/tests/refFiles/test_Opal_basic_2node_1smp.out
Labels: SST-Opal
