Repository sstsimulator/sst-elements, pull requests merged in 2020-08, with the labels that each got.

#1519 Initial import of Serrano CGRA High-Level component
  src/sst/elements/serrano/Makefile.am
  src/sst/elements/serrano/scircq.h
  src/sst/elements/serrano/sercgunit.h
  src/sst/elements/serrano/seriterunit.h
  src/sst/elements/serrano/serprintunit.h
  src/sst/elements/serrano/serrano.cc
  src/sst/elements/serrano/serrano.h
  src/sst/elements/serrano/serstdunit.h
  src/sst/elements/serrano/smsg.h
  src/sst/elements/serrano/tests/graphs/sum.graph
  src/sst/elements/serrano/tests/test_serrano.py
Labels: Enhancement, SST-Serrano

#1522 MemH: Fix multi-thread reference files
  src/sst/elements/memHierarchy/tests/refFiles/test_memHA_BackendGoblinHMC_MC.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHA_CustomCmdGoblin_1_MC.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHA_CustomCmdGoblin_3_MC.out
Labels: SST-MemHierarchy

#1523 Fix Build Error for Serrano Test Examples
  src/sst/elements/serrano/Makefile.am
Labels: Bug, SST-Serrano

#1525 Adds Printing of Ariel Page Translation Table (Ariel Simple Memory Manager) when using Verbose Debugging
  src/sst/elements/ariel/arielmemmgr_simple.cc
  src/sst/elements/ariel/arielmemmgr_simple.h
Labels: Enhancement, SST-Ariel

#1528 memH: Fix bug in directory controller
  src/sst/elements/memHierarchy/directoryController.cc
  src/sst/elements/memHierarchy/directoryController.h
  src/sst/elements/memHierarchy/tests/refFiles/test_memHA_CustomCmdGoblin_3.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHA_CustomCmdGoblin_3_MC.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHA_Kingsley.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHA_MemoryCache.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHA_MemoryCache_MC.out
Labels: Bug, SST-MemHierarchy

#1530 memH: Update interface
  src/sst/elements/memHierarchy/memHierarchyInterface.cc
Labels: Enhancement, SST-MemHierarchy
