Repository sstsimulator/sst-elements, pull requests merged in 2020-10, with the labels that each got.

#1540 memH: Fix bug in LLSC where an LL miss didn't always set the atomic flag
  src/sst/elements/memHierarchy/coherencemgr/MESI_L1.cc
Labels: Bug, SST-MemHierarchy

#1541 Update FFT3D SST Info (fixes: #578)
  src/sst/elements/ember/mpi/motifs/emberfft3d.h
Labels: Bug, SST-Ember

#1545 CramSim: Change output to SST output
  src/sst/elements/CramSim/TxnDispatcher.cpp
  src/sst/elements/CramSim/c_AddressHasher.cpp
  src/sst/elements/CramSim/c_Bank.cpp
  src/sst/elements/CramSim/c_Bank.hpp
  src/sst/elements/CramSim/c_BankCommand.cpp
  src/sst/elements/CramSim/c_BankGroup.cpp
  src/sst/elements/CramSim/c_BankInfo.cpp
  src/sst/elements/CramSim/c_BankStateActivating.cpp
  src/sst/elements/CramSim/c_BankStateActive.cpp
  src/sst/elements/CramSim/c_BankStateIdle.cpp
  src/sst/elements/CramSim/c_BankStatePrecharge.cpp
  src/sst/elements/CramSim/c_BankStateRead.cpp
  src/sst/elements/CramSim/c_BankStateReadA.cpp
  src/sst/elements/CramSim/c_BankStateRefresh.cpp
  src/sst/elements/CramSim/c_BankStateWrite.cpp
  src/sst/elements/CramSim/c_BankStateWriteA.cpp
  src/sst/elements/CramSim/c_CmdScheduler.cpp
  src/sst/elements/CramSim/c_Controller.cpp
  src/sst/elements/CramSim/c_Controller.hpp
  src/sst/elements/CramSim/c_DeviceDriver.cpp
  src/sst/elements/CramSim/c_DeviceDriver.hpp
  src/sst/elements/CramSim/c_Dimm.cpp
  src/sst/elements/CramSim/c_Dimm.hpp
  src/sst/elements/CramSim/c_HashedAddress.cpp
  src/sst/elements/CramSim/c_MemhBridge.cpp
  src/sst/elements/CramSim/c_TraceFileReader.cpp
  src/sst/elements/CramSim/c_Transaction.cpp
  src/sst/elements/CramSim/c_TxnConverter.cpp
  src/sst/elements/CramSim/c_TxnDispatcher.cpp
  src/sst/elements/CramSim/c_TxnDispatcher.hpp
  src/sst/elements/CramSim/c_TxnGen.cpp
  src/sst/elements/CramSim/c_TxnGen.hpp
  src/sst/elements/CramSim/c_TxnScheduler.cpp
  src/sst/elements/CramSim/c_TxnScheduler.hpp
Labels: Enhancement, SST-CramSim

#1461 Implementation of new Python Testing Frameworks
  .gitignore
  src/sst/elements/CramSim/Makefile.am
  src/sst/elements/CramSim/tests/testsuite_default_CramSim.py
  src/sst/elements/GNA/Makefile.am
  src/sst/elements/GNA/tests/refFiles/test_GNA_1.out
  src/sst/elements/GNA/tests/test_GNA_1.py
  src/sst/elements/GNA/tests/testsuite_default_GNA.py
  src/sst/elements/Messier/Makefile.am
  src/sst/elements/Messier/tests/testsuite_default_Messier.py
  src/sst/elements/Samba/Makefile.am
  src/sst/elements/Samba/tests/testsuite_default_Samba.py
  src/sst/elements/VaultSimC/Makefile.am
  src/sst/elements/VaultSimC/tests/testsuite_default_VaultSim.py
  src/sst/elements/cacheTracer/Makefile.am
  src/sst/elements/cacheTracer/tests/testsuite_default_cacheTracer.py
  src/sst/elements/cassini/Makefile.am
  src/sst/elements/cassini/tests/testsuite_default_cassini_prefetch.py
  src/sst/elements/ember/Makefile.am
  src/sst/elements/ember/tests/testsuite_default_embernightly.py
  src/sst/elements/ember/tests/testsuite_default_embersweep.py
  src/sst/elements/ember/tests/testsuite_default_qos.py
  src/sst/elements/kingsley/Makefile.am
  src/sst/elements/kingsley/tests/testsuite_default_kingsley.py
  src/sst/elements/memHierarchy/Makefile.am
  src/sst/elements/memHierarchy/tests/testsuite_default_memHierarchy_sdl.py
  src/sst/elements/merlin/Makefile.am
  src/sst/elements/merlin/tests/testsuite_default_merlin.py
  src/sst/elements/miranda/Makefile.am
  src/sst/elements/miranda/tests/testsuite_default_miranda.py
  src/sst/elements/shogun/Makefile.am
  src/sst/elements/shogun/tests/testsuite_default_shogun.py
  src/sst/elements/simpleElementExample/Makefile.am
  src/sst/elements/simpleElementExample/tests/testsuite_default_simpleRNGComponent.py
Labels: Enhancement, SST-BuildSystem

#1551 memH: Adjust memory controller's region to min of region and mem_size
  src/sst/elements/memHierarchy/memoryController.cc
  src/sst/elements/memHierarchy/memoryController.h
  src/sst/elements/memHierarchy/tests/testNoninclusive-1.py
  src/sst/elements/memHierarchy/tests/testNoninclusive-2.py
Labels: Bug, SST-MemHierarchy

#1552 Improve compare diff testing
  src/sst/elements/CramSim/tests/testsuite_default_CramSim.py
  src/sst/elements/Samba/tests/testsuite_default_Samba.py
  src/sst/elements/cacheTracer/tests/testsuite_default_cacheTracer.py
  src/sst/elements/cassini/tests/testsuite_default_cassini_prefetch.py
  src/sst/elements/ember/tests/testsuite_default_embernightly.py
  src/sst/elements/ember/tests/testsuite_default_qos.py
  src/sst/elements/miranda/tests/testsuite_default_miranda.py
Labels: SST-SQE

#1555 Fix for issue #1554
  src/sst/elements/merlin/trafficgen/trafficgen.h
Labels: Bug
