Repository sstsimulator/sst-elements, pull requests merged in 2021-04, with the labels that each got.

#1629 First cut at a Vanadis testsuite
  src/sst/elements/vanadis/Makefile.am
  src/sst/elements/vanadis/tests/basic_vanadis.py
  src/sst/elements/vanadis/tests/small/basic-io/Makefile
  src/sst/elements/vanadis/tests/small/basic-math/Makefile
  src/sst/elements/vanadis/tests/small/basic-ops/Makefile
  src/sst/elements/vanadis/tests/testsuite_default_vanadis.py
Labels: SST-Vanadis

#1632 Cleanup build warnings
  src/sst/elements/CramSim/c_Controller.cpp
  src/sst/elements/CramSim/c_Dimm.cpp
  src/sst/elements/CramSim/c_TxnGen.cpp
  src/sst/elements/Samba/PageTableWalker.h
Labels: SST-CramSim, SST-Samba

#1638 Initial vanadis
  src/sst/elements/vanadis/inst/vfp2fp.h
  src/sst/elements/vanadis/inst/vfp2gpr.h
  src/sst/elements/vanadis/inst/vfpadd.h
  src/sst/elements/vanadis/inst/vfpconv.h
  src/sst/elements/vanadis/inst/vfpdiv.h
  src/sst/elements/vanadis/inst/vfpmul.h
  src/sst/elements/vanadis/inst/vfpscmp.h
  src/sst/elements/vanadis/inst/vfpsub.h
  src/sst/elements/vanadis/inst/vgpr2fp.h
  src/sst/elements/vanadis/inst/vload.h
  src/sst/elements/vanadis/inst/vstore.h
  src/sst/elements/vanadis/lsq/vlsqseq.h
  src/sst/elements/vanadis/tools/tracediff/tracediff.cc
Labels: Enhancement, SST-Vanadis

#1642 Fix Vanadis Compiler Warning on MacOS
  src/sst/elements/vanadis/inst/vmulsplit.h
  src/sst/elements/vanadis/os/node/vnodeoswritevh.h
  src/sst/elements/vanadis/os/vnodeoshandler.h
Labels: Enhancement, SST-Vanadis

#1643 memH: Fix bug in loading noninclusive directory replacement policy
  src/sst/elements/memHierarchy/coherencemgr/MESI_Shared_Noninclusive.h
  src/sst/elements/memHierarchy/coherencemgr/coherenceController.cc
Labels: Bug, SST-MemHierarchy

#1644 Merlin and ember optimizations and updates for global params
  src/sst/elements/ember/ember.cc
  src/sst/elements/ember/pyember.py
  src/sst/elements/merlin/interfaces/pymerlin-interface.py
  src/sst/elements/merlin/merlin.cc
  src/sst/elements/merlin/pymerlin-base.py
  src/sst/elements/merlin/pymerlin-endpoint.py
  src/sst/elements/merlin/tests/dragon_128_test.py
  src/sst/elements/merlin/tests/hyperx_128_test.py
  src/sst/elements/merlin/tests/refFiles/test_merlin_dragon_128_test.out
  src/sst/elements/merlin/tests/refFiles/test_merlin_hyperx_128_test.out
  src/sst/elements/merlin/topology/pymerlin-topo-dragonfly.py
Labels: Enhancement
