Repository sstsimulator/sst-elements, pull requests merged in 2021-07, with the labels that each got.

#1684 Include reference files for simpleSimulation in Distribution
  src/sst/elements/simpleSimulation/Makefile.am
Labels: Bug, Enhancement

#1681 Remove comma (,) from getopt string for option "debug="
  src/sst/elements/ember/test/emberLoad.py
Labels: Bug, SST-Ember

#1686 SST::Fifrefly::Nic::dmaSend uses incorrect notify*Done callback
  src/sst/elements/firefly/nic.cc
Labels: Bug, SST-FireFly

#1687 Add Profiling for Individual MIPS Decoder Instructions
  src/sst/elements/vanadis/decoder/vdecoder.h
  src/sst/elements/vanadis/decoder/vmipsdecoder.h
Labels: Enhancement, SST-Vanadis

#1689 Changes to fix missing distribution files needed for testing
  src/sst/elements/memHierarchy/Makefile.am
  src/sst/elements/prospero/Makefile.am
  src/sst/elements/zodiac/Makefile.am
Labels: Bug, SST-MemHierarchy, SST-Prospero, SST-SQE, SST-Zodiac

#1691 Add const qualifiers to functions in Vanadis LRU cache
  src/sst/elements/vanadis/datastruct/vcache.h
Labels: Enhancement, SST-Vanadis

#1699 Vanadis add check for Endian in ELF Format Checks
  src/sst/elements/vanadis/decoder/vmipsdecoder.h
  src/sst/elements/vanadis/velf/velfinfo.h
Labels: Bug, SST-Vanadis

#1700 Switch Endian checks in ELF to Enum
  src/sst/elements/vanadis/decoder/vmipsdecoder.h
  src/sst/elements/vanadis/velf/velfinfo.h
Labels: Enhancement, SST-Vanadis

#1701 Vanadis Rework for Code for Register File Access
  src/sst/elements/vanadis/inst/regfile.h
Labels: Enhancement, SST-Vanadis

#1702 Fixes for --with-llvm test
  config/sst_check_llvm_config.m4
Labels: Bug, SST-BuildSystem

#1706 Vanadis Add Support for Conditional Register Move Instructions
  src/sst/elements/vanadis/Makefile.am
  src/sst/elements/vanadis/decoder/vmipsdecoder.h
  src/sst/elements/vanadis/inst/vinstall.h
  src/sst/elements/vanadis/inst/vmovci.h
Labels: Enhancement, SST-Vanadis

#1707 Removes PHX from VaultSimC
  config/sst_check_libphx.m4
  src/sst/elements/VaultSimC/Makefile.am
  src/sst/elements/VaultSimC/VaultSimC.cpp
  src/sst/elements/VaultSimC/VaultSimC.h
  src/sst/elements/VaultSimC/configure.m4
Labels: Enhancement, SST-VaultSim

#1709 Optimize Micro-op Definitions with Templates instead of Parameters for Known Characteristics
  src/sst/elements/vanadis/decoder/vmipsdecoder.h
  src/sst/elements/vanadis/inst/vadd.h
  src/sst/elements/vanadis/inst/vaddi.h
  src/sst/elements/vanadis/inst/vaddiu.h
  src/sst/elements/vanadis/inst/vand.h
  src/sst/elements/vanadis/inst/vandi.h
  src/sst/elements/vanadis/inst/vbcmp.h
  src/sst/elements/vanadis/inst/vbcmpi.h
  src/sst/elements/vanadis/inst/vbcmpil.h
  src/sst/elements/vanadis/inst/vbfp.h
  src/sst/elements/vanadis/inst/vdivmod.h
  src/sst/elements/vanadis/inst/vfp2fp.h
  src/sst/elements/vanadis/inst/vfp2gpr.h
  src/sst/elements/vanadis/inst/vfpadd.h
  src/sst/elements/vanadis/inst/vfpconv.h
  src/sst/elements/vanadis/inst/vfpdiv.h
  src/sst/elements/vanadis/inst/vfpmul.h
  src/sst/elements/vanadis/inst/vfpscmp.h
  src/sst/elements/vanadis/inst/vfpsub.h
  src/sst/elements/vanadis/inst/vgpr2fp.h
  src/sst/elements/vanadis/inst/vmul.h
  src/sst/elements/vanadis/inst/vmuli.h
  src/sst/elements/vanadis/inst/vmulsplit.h
  src/sst/elements/vanadis/inst/vregfmt.h
  src/sst/elements/vanadis/inst/vscmp.h
  src/sst/elements/vanadis/inst/vscmpi.h
  src/sst/elements/vanadis/inst/vsetreg.h
  src/sst/elements/vanadis/inst/vsll.h
  src/sst/elements/vanadis/inst/vslli.h
  src/sst/elements/vanadis/inst/vsra.h
  src/sst/elements/vanadis/inst/vsrai.h
  src/sst/elements/vanadis/inst/vsrl.h
  src/sst/elements/vanadis/inst/vsrli.h
  src/sst/elements/vanadis/inst/vsub.h
  src/sst/elements/vanadis/inst/vtrunc.h
  src/sst/elements/vanadis/inst/vxori.h
  src/sst/elements/vanadis/util/vcmpop.h
  src/sst/elements/vanadis/vanadis.cc
Labels: Enhancement, SST-Vanadis
