Repository sstsimulator/sst-elements, pull requests merged in 2021-05, with the labels that each got.

#1662 fix a bug about writing data to scratchpad
  src/sst/elements/memHierarchy/scratchpad.cc
Labels: Bug, SST-MemHierarchy

#1664 Added checking to LinkControl/PortControl intialization protocol
  src/sst/elements/firefly/pyfirefly.py
  src/sst/elements/merlin/interfaces/linkControl.cc
  src/sst/elements/merlin/interfaces/linkControl.h
  src/sst/elements/merlin/interfaces/portControl.cc
  src/sst/elements/merlin/interfaces/portControl.h
  src/sst/elements/merlin/pymerlin-base.py
  src/sst/elements/merlin/tests/dragon_128_test.py
  src/sst/elements/merlin/tests/refFiles/test_merlin_dragon_128_test.out
  src/sst/elements/merlin/topology/pymerlin-topo-dragonfly.py
Labels: Bug, Enhancement

#1665 Add llvm-config Check to Builder
  config/sst_check_llvm_config.m4
Labels: SST-BuildSystem
