Repository sstsimulator/sst-elements, pull requests merged in 2021-08, with the labels that each got.

#1714 Removes unneeded include in VaultSimC that imports the ELI definition
  src/sst/elements/VaultSimC/app.cpp
  src/sst/elements/VaultSimC/memReqEvent.h
Labels: Bug, SST-VaultSim

#1715 Fix warning in Opal relating to type in output statement
  src/sst/elements/Opal/Opal.cc
Labels: Enhancement, SST-Opal

#1717 Optimized memHierarchy:CoherenceController
  src/sst/elements/memHierarchy/coherencemgr/coherenceController.cc
Labels: SST-MemHierarchy
