Repository sstsimulator/sst-elements, pull requests merged in 2021-03, with the labels that each got.

#1618 Update contributing info to ssh methods
  CONTRIBUTING.md
Labels: SST-Documentation

#1623 Add initial Vanadis gold stdout/stderr files
  src/sst/elements/vanadis/tests/small/basic-io/hello-world.stderr.gold
  src/sst/elements/vanadis/tests/small/basic-io/hello-world.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-math/sqrt-double.stderr.gold
  src/sst/elements/vanadis/tests/small/basic-math/sqrt-double.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-math/sqrt-float.stderr.gold
  src/sst/elements/vanadis/tests/small/basic-math/sqrt-float.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-ops/test-branch.stderr.gold
  src/sst/elements/vanadis/tests/small/basic-ops/test-branch.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-ops/test-shift.stderr.gold
  src/sst/elements/vanadis/tests/small/basic-ops/test-shift.stdout.gold
Labels: Enhancement, SST-Vanadis

#1628 Encourage Ariel's child process to die when ariel does
  src/sst/elements/ariel/frontend/simple/pin2frontend.cc
Labels: Enhancement, SST-Ariel
