Repository sstsimulator/sst-elements, pull requests merged in 2021-11, with the labels that each got.

#1742 Vanadis - overhaul how instructions are passed to pipeline for speculative instructions
  src/sst/elements/vanadis/decoder/vmipsdecoder.h
  src/sst/elements/vanadis/decoder/vriscv64decoder.h
  src/sst/elements/vanadis/inst/vbcmp.h
  src/sst/elements/vanadis/inst/vbcmpi.h
  src/sst/elements/vanadis/inst/vbcmpil.h
  src/sst/elements/vanadis/inst/vbfp.h
  src/sst/elements/vanadis/inst/vjl.h
  src/sst/elements/vanadis/inst/vjlr.h
  src/sst/elements/vanadis/inst/vjr.h
  src/sst/elements/vanadis/inst/vjump.h
  src/sst/elements/vanadis/inst/vspeculate.h
Labels: Enhancement, SST-Vanadis

#1744 Adds support for additional RVC instructions in Vanadis
  src/sst/elements/vanadis/decoder/vriscv64decoder.h
  src/sst/elements/vanadis/inst/vjl.h
Labels: Enhancement, SST-Vanadis

#1746 memH: Change standardMem namespace
  src/sst/elements/memHierarchy/standardInterface.cc
  src/sst/elements/memHierarchy/standardInterface.h
  src/sst/elements/memHierarchy/testcpu/standardCPU.cc
  src/sst/elements/memHierarchy/testcpu/standardCPU.h
  src/sst/elements/memHierarchy/testcpu/standardMMIO.cc
  src/sst/elements/memHierarchy/testcpu/standardMMIO.h
Labels: SST-MemHierarchy

#1750 Vanadis: switch over to StandardMem interface from SimpleMem
  src/sst/elements/vanadis/decoder/vdecoder.h
  src/sst/elements/vanadis/lsq/vlsq.h
  src/sst/elements/vanadis/lsq/vlsqseq.h
  src/sst/elements/vanadis/lsq/vlsqstd.h
  src/sst/elements/vanadis/os/node/vnodemmaph.h
  src/sst/elements/vanadis/os/node/vnodenoactionh.h
  src/sst/elements/vanadis/os/node/vnodeosaccessh.h
  src/sst/elements/vanadis/os/node/vnodeosbrk.h
  src/sst/elements/vanadis/os/node/vnodeosfstath.h
  src/sst/elements/vanadis/os/node/vnodeoshstate.h
  src/sst/elements/vanadis/os/node/vnodeosopenath.h
  src/sst/elements/vanadis/os/node/vnodeosopenh.h
  src/sst/elements/vanadis/os/node/vnodeosreadlink.h
  src/sst/elements/vanadis/os/node/vnodeosunameh.h
  src/sst/elements/vanadis/os/node/vnodeoswriteh.h
  src/sst/elements/vanadis/os/node/vnodeoswritevh.h
  src/sst/elements/vanadis/os/vnodeos.cc
  src/sst/elements/vanadis/os/vnodeos.h
  src/sst/elements/vanadis/os/vnodeoshandler.h
  src/sst/elements/vanadis/tests/basic_vanadis.py
  src/sst/elements/vanadis/vanadis.cc
  src/sst/elements/vanadis/vanadis.h
  src/sst/elements/vanadis/vinsloader.h
Labels: Enhancement, SST-Vanadis

#1740 memH: fix; memNIC sources/destinations params
  src/sst/elements/memHierarchy/memNICBase.h
  src/sst/elements/memHierarchy/memNICFour.cc
Labels: Bug, SST-MemHierarchy

#1753 Fix Up Immediate Decoding for RVC in Vanadis
  src/sst/elements/vanadis/decoder/vriscv64decoder.h
  src/sst/elements/vanadis/inst/vjr.h
Labels: Bug, Enhancement, SST-Vanadis

#1755 Improve Debugging Prints for Micro-ops in Vanadis
  src/sst/elements/vanadis/decoder/vriscv64decoder.h
  src/sst/elements/vanadis/inst/vjl.h
  src/sst/elements/vanadis/inst/vjump.h
  src/sst/elements/vanadis/inst/vload.h
  src/sst/elements/vanadis/inst/vpcaddi.h
  src/sst/elements/vanadis/lsq/vlsqseq.h
  src/sst/elements/vanadis/tests/basic_vanadis.py
  src/sst/elements/vanadis/vanadis.cc
Labels: Bug, Enhancement, SST-Vanadis

#1756 Fixes Initial Stack Layout Bugs for RISC-V 64b
  src/sst/elements/vanadis/decoder/vriscv64decoder.h
Labels: Enhancement, SST-Vanadis

#1760 Fix RVC Decoder Bugs for Immediates in Vanadis
  src/sst/elements/vanadis/decoder/vriscv64decoder.h
  src/sst/elements/vanadis/inst/vsrai.h
  src/sst/elements/vanadis/os/vriscvcpuos.h
Labels: Bug, SST-Vanadis

#1762 Fix for Decoder Bugs on Vanadis
  src/sst/elements/vanadis/decoder/vriscv64decoder.h
  src/sst/elements/vanadis/inst/vbcmp.h
  src/sst/elements/vanadis/inst/vbcmpi.h
  src/sst/elements/vanadis/inst/vload.h
  src/sst/elements/vanadis/inst/vstore.h
  src/sst/elements/vanadis/inst/vxori.h
  src/sst/elements/vanadis/vanadis.cc
Labels: Bug, Enhancement, SST-Vanadis

#1763 Propagate 64b support to emulated OS in Vanadis
  src/sst/elements/vanadis/Makefile.am
  src/sst/elements/vanadis/inst/vjlr.h
  src/sst/elements/vanadis/os/callev/voscallaccessev.h
  src/sst/elements/vanadis/os/callev/voscallbrk.h
  src/sst/elements/vanadis/os/callev/voscallclose.h
  src/sst/elements/vanadis/os/callev/voscallexitgrp.h
  src/sst/elements/vanadis/os/callev/voscallfstat.h
  src/sst/elements/vanadis/os/callev/voscallgettime64.h
  src/sst/elements/vanadis/os/callev/voscallioctl.h
  src/sst/elements/vanadis/os/callev/voscallmmap.h
  src/sst/elements/vanadis/os/callev/voscallopen.h
  src/sst/elements/vanadis/os/callev/voscallopenat.h
  src/sst/elements/vanadis/os/callev/voscallread.h
  src/sst/elements/vanadis/os/callev/voscallreadlink.h
  src/sst/elements/vanadis/os/callev/voscallsta.h
  src/sst/elements/vanadis/os/callev/voscalluname.h
  src/sst/elements/vanadis/os/callev/voscallunmap.h
  src/sst/elements/vanadis/os/callev/voscallwrite.h
  src/sst/elements/vanadis/os/callev/voscallwritev.h
  src/sst/elements/vanadis/os/callev/vosinitbrk.h
  src/sst/elements/vanadis/os/node/vnodeoswritevh.h
  src/sst/elements/vanadis/os/vmipscpuos.h
  src/sst/elements/vanadis/os/vnodeoshandler.h
  src/sst/elements/vanadis/os/vosbittype.h
  src/sst/elements/vanadis/os/voscallev.h
  src/sst/elements/vanadis/os/vriscvcpuos.h
Labels: Enhancement, SST-Vanadis

#1766 Add Modulo Micro-Op and Improve Decoder Generation for RISC-V Vanadis
  src/sst/elements/vanadis/Makefile.am
  src/sst/elements/vanadis/decoder/vriscv64decoder.h
  src/sst/elements/vanadis/inst/vinstall.h
  src/sst/elements/vanadis/inst/vmod.h
  src/sst/elements/vanadis/inst/vslli.h
  src/sst/elements/vanadis/inst/vsrli.h
Labels: Enhancement, SST-Vanadis
