Repository sstsimulator/sst-elements, pull requests merged in 2022-03, with the labels that each got.

#1834 Add Support for Fence Instructions in Vanadis
  src/sst/elements/vanadis/decoder/vriscv64decoder.h
Labels: Enhancement, SST-Vanadis

#1832 Fixed incorrect parameter name for routing algorithm
  src/sst/elements/merlin/topology/fattree.cc
Labels: Bug, SST-Merlin

#1837 Added exit syscall for riscv
  src/sst/elements/vanadis/Makefile.am
  src/sst/elements/vanadis/os/callev/voscallall.h
  src/sst/elements/vanadis/os/callev/voscallexit.h
  src/sst/elements/vanadis/os/vnodeoshandler.h
  src/sst/elements/vanadis/os/voscallfunc.h
  src/sst/elements/vanadis/os/vriscvcpuos.h
Labels: Enhancement, SST-Vanadis

#1839 fix for risc syscall codes
  src/sst/elements/vanadis/os/vriscvcpuos.h
Labels: Enhancement, SST-Vanadis

#1851 Fix for RX Op Value in default params
  src/sst/elements/ember/test/defaultParams.py
  src/sst/elements/ember/tests/refFiles/test_EmberSweep.out
Labels: Bug, SST-Ember, AT: WIP

#1852 Fix typo in llvm check
  config/sst_check_llvm.m4
Labels: Bug, SST-BuildSystem

#1853 Fix for pin2 flags
  src/sst/elements/ariel/Makefile.am
Labels: Bug, SST-BuildSystem
