Repository sstsimulator/sst-elements, pull requests merged in 2022-11, with the labels that each got.

#1958 Support for AMO-SWAP Operations in Vanadis
  src/sst/elements/vanadis/Makefile.am
  src/sst/elements/vanadis/decoder/vriscv64decoder.h
  src/sst/elements/vanadis/inst/vbcmpi.h
  src/sst/elements/vanadis/inst/vcimov.h
  src/sst/elements/vanadis/inst/vinstall.h
  src/sst/elements/vanadis/os/vriscvcpuos.h
  src/sst/elements/vanadis/tests/small/basic-io/hello-world/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/openat/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/printf-check/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/unlink/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/unlinkat/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-math/sqrt-double/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-math/sqrt-float/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-ops/test-branch/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-ops/test-shift/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/gettime/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/mt-dgemm/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/splitLoad/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/stream/riscv64/sst.stdout.gold
Labels: Enhancement, SST-Vanadis

#1959 Fix automake for Mercury
  src/sst/elements/mercury/Makefile.am
Labels: AT: PRE-TEST INSPECTED

#1969 New instruction test harness example
  src/sst/elements/vanadis/tests/small/asm/Makefile
  src/sst/elements/vanadis/tests/small/asm/riscv64/fp64_basic.c
  src/sst/elements/vanadis/tests/small/asm/riscv64/fp64_basic.sst.gold
  src/sst/elements/vanadis/tests/small/asm/riscv64/fp64_basic.stderr.gold
  src/sst/elements/vanadis/tests/small/asm/riscv64/fp64_basic.stdout.gold
Labels: Enhancement, SST-Vanadis, AT: WIP

#1980 Change overlap detection in load/store for Basic LSQ in Vanadis
  src/sst/elements/vanadis/lsq/vbasiclsqentry.h
Labels: Enhancement, SST-Vanadis

#1982 Update overlap detection in LSQ
  src/sst/elements/vanadis/lsq/vbasiclsqentry.h
  src/sst/elements/vanadis/tests/small/basic-io/hello-world-cpp/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/hello-world/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/openat/mipsel/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/openat/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/printf-check/mipsel/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/printf-check/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/read-write/mipsel/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/read-write/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/unlink/mipsel/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/unlink/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/unlinkat/mipsel/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-math/sqrt-double/mipsel/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-math/sqrt-double/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-math/sqrt-float/mipsel/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-ops/test-branch/mipsel/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-ops/test-branch/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-ops/test-shift/mipsel/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-ops/test-shift/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/gettime/mipsel/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/mt-dgemm/mipsel/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/mt-dgemm/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/splitLoad/mipsel/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/splitLoad/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/stream/mipsel/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/stream/riscv64/sst.stdout.gold
Labels: Enhancement, SST-Vanadis

#1983 fp64 unit tests
  src/sst/elements/vanadis/tests/small/asm/riscv64/fp64_basic.c
  src/sst/elements/vanadis/tests/small/asm/riscv64/fp64_basic.sst.gold
  src/sst/elements/vanadis/tests/small/asm/riscv64/fp64_basic.stderr.gold
  src/sst/elements/vanadis/tests/small/asm/riscv64/fp64_basic.stdout.gold
Labels: Enhancement, SST-Vanadis

#1984 Tweak Data Structures to Improve Performance in Vanadis
  src/sst/elements/vanadis/datastruct/cqueue.h
  src/sst/elements/vanadis/datastruct/vcache.h
Labels: Enhancement, SST-Vanadis

#1987 Fix for gcc 4.2 std::list
  src/sst/elements/vanadis/datastruct/vcache.h
Labels: Bug, SST-Vanadis

#1991 2D BFS Models
  src/sst/elements/ember/mpi/motifs/emberBFS.cc
  src/sst/elements/ember/mpi/motifs/emberBFS.h
Labels: Enhancement, SST-Ember
