Repository sstsimulator/sst-elements, pull requests merged in 2022-05, with the labels that each got.

#1902 Portable fopen
  src/sst/elements/llyr/mappers/pyMapper.h
Labels: Enhancement, SST-Llyr

#1903 Remove some warnings during compile
  src/sst/elements/llyr/llyr.cc
  src/sst/elements/llyr/parser/parser.cc
Labels: SST-BuildSystem, SST-Llyr

#1894 Multiplex the syscall link between the Vanadis CPU and Vanandis OS
  src/sst/elements/rdmaNic/tests/app/rdma/msg.out.gold
  src/sst/elements/rdmaNic/tests/vanadisBlock.py
  src/sst/elements/vanadis/Makefile.am
  src/sst/elements/vanadis/decoder/vdecoder.h
  src/sst/elements/vanadis/os/node/vnodeoshstate.h
  src/sst/elements/vanadis/os/resp/voscallresp.h
  src/sst/elements/vanadis/os/resp/vosexitresp.h
  src/sst/elements/vanadis/os/vcpuos.h
  src/sst/elements/vanadis/os/vmipscpuos.h
  src/sst/elements/vanadis/os/vnodeos.cc
  src/sst/elements/vanadis/os/vnodeoshandler.h
  src/sst/elements/vanadis/os/voscallresp.h
  src/sst/elements/vanadis/os/vriscvcpuos.h
  src/sst/elements/vanadis/tests/basic_vanadis.py
  src/sst/elements/vanadis/vanadis.cc
  src/sst/elements/vanadis/vanadis.h
Labels: Enhancement, SST-Vanadis

#1907 Support for streaming memory operations via new PEs
  src/sst/elements/llyr/llyr.cc
  src/sst/elements/llyr/llyrTypes.h
  src/sst/elements/llyr/mappers/llyrMapper.h
  src/sst/elements/llyr/mappers/pyMapper.h
  src/sst/elements/llyr/mappers/simpleMapper.h
  src/sst/elements/llyr/parser/parser.cc
  src/sst/elements/llyr/pes/intPE.h
  src/sst/elements/llyr/pes/loadPE.h
  src/sst/elements/llyr/pes/storePE.h
Labels: Enhancement, SST-Llyr

#1908 Switch to dot format
  src/sst/elements/llyr/parser/parser.cc
Labels: Enhancement, SST-Llyr
