Repository sstsimulator/sst-elements, pull requests merged in 2022-12, with the labels that each got.

#1992 Eliminate compile warnings, except Vanadis
  src/sst/elements/ariel/arielrtlev.h
  src/sst/elements/osseous/AXI_port.h
  src/sst/elements/osseous/eras_datatypes/sint.h
  src/sst/elements/osseous/eras_datatypes/uint.h
  src/sst/elements/osseous/rtl_header.h
  src/sst/elements/osseous/rtlcomponent.cc
  src/sst/elements/osseous/rtlcomponent.h
  src/sst/elements/osseous/rtlevent.cc
  src/sst/elements/osseous/rtlevent.h
  src/sst/elements/osseous/rtlmemmgr.h
  src/sst/elements/osseous/rtlmemmgr_cache.h
  src/sst/elements/osseous/rtlmemmgr_simple.cc
  src/sst/elements/osseous/rtlmemmgr_simple.h
  src/sst/elements/osseous/rtlreadev.h
  src/sst/elements/osseous/rtlwriteev.h
  src/sst/elements/rdmaNic/rdmaNic.cc
  src/sst/elements/rdmaNic/rdmaNic.h
  src/sst/elements/rdmaNic/rdmaNicMemRequestQ.h
Labels: Enhancement, SST-General

#1995 Fix up delete within the cache data structure for Vanadis
  src/sst/elements/vanadis/datastruct/vcache.h
  src/sst/elements/vanadis/vinsloader.h
Labels: Enhancement, SST-Vanadis

#1986 Vanadis
  src/sst/elements/vanadis/Makefile.am
  src/sst/elements/vanadis/os/vnodeoshandler.h
  src/sst/elements/vanadis/tests/small/misc/stream-fortran/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/stream-fortran/riscv64/vanadis.stderr.gold
  src/sst/elements/vanadis/tests/small/misc/stream-fortran/riscv64/vanadis.stdout.gold
  src/sst/elements/vanadis/tests/testsuite_default_vanadis.py
Labels: Enhancement, SST-Vanadis

#1993 Modified Osseous for vecshift example and added missing files
  src/sst/elements/osseous/Makefile.am
  src/sst/elements/osseous/README.md
  src/sst/elements/osseous/rtl_header.h
  src/sst/elements/osseous/rtlcomponent.cc
  src/sst/elements/osseous/tests/Makefile
  src/sst/elements/osseous/tests/runstream.py
  src/sst/elements/osseous/tests/testbench.c
Labels: SST-Osseous
