Repository sstsimulator/sst-elements, pull requests merged in 2022-04, with the labels that each got.

#1859 Minor Vanadis I/O Fixes
  src/sst/elements/rdmaNic/tests/app/rdma/msg.out.gold
  src/sst/elements/vanadis/os/memmgr/vmemmgr.h
  src/sst/elements/vanadis/os/vnodeoshandler.h
Labels: Bug, SST-Vanadis

#1861 Fix Vanadis I/O open system call
  src/sst/elements/vanadis/os/callev/voscallopenat.h
  src/sst/elements/vanadis/os/node/vnodeosfd.h
  src/sst/elements/vanadis/os/node/vnodeosopenath.h
  src/sst/elements/vanadis/os/node/vnodeosopenh.h
  src/sst/elements/vanadis/os/node/vnodeoswriteh.h
  src/sst/elements/vanadis/os/node/vnodeoswritevh.h
  src/sst/elements/vanadis/os/vmipscpuos.h
  src/sst/elements/vanadis/os/vnodeoshandler.h
  src/sst/elements/vanadis/os/vriscvcpuos.h
Labels: Bug, Enhancement, SST-Vanadis

#1863 Ariel: Update for Pin 3.22
  src/sst/elements/ariel/Makefile.am
  src/sst/elements/ariel/api/Makefile
  src/sst/elements/ariel/api/arielapi.c
  src/sst/elements/ariel/api/arielapi.h
  src/sst/elements/ariel/frontend/pin3/fesimple.cc
  src/sst/elements/ariel/frontend/pin3/pin3frontend.h
  src/sst/elements/ariel/frontend/simple/examples/stream/Makefile
  src/sst/elements/ariel/frontend/simple/examples/stream/ariel_ivb.py
  src/sst/elements/ariel/frontend/simple/examples/stream/ariel_snb.py
  src/sst/elements/ariel/frontend/simple/examples/stream/ariel_snb_mlm.py
  src/sst/elements/ariel/frontend/simple/examples/stream/memHstream.py
  src/sst/elements/ariel/frontend/simple/examples/stream/stream_malloc.c
  src/sst/elements/ariel/frontend/simple/examples/stream/tests/refFiles/test_Ariel_ariel_snb_mlm.out
  src/sst/elements/ariel/frontend/simple/examples/stream/tests/refFiles/test_Ariel_memHstream.out
  src/sst/elements/ariel/frontend/simple/pin2frontend.h
  src/sst/elements/ariel/tests/testsuite_default_Ariel.py
Labels: Enhancement, SST-Ariel

#1870 Merging llyr dataflow component
  .gitignore
  src/sst/elements/llyr/Makefile.am
  src/sst/elements/llyr/configure.m4
  src/sst/elements/llyr/graph/edge.h
  src/sst/elements/llyr/graph/graph.h
  src/sst/elements/llyr/graph/vertex.h
  src/sst/elements/llyr/llyr.cc
  src/sst/elements/llyr/llyr.h
  src/sst/elements/llyr/llyrTypes.h
  src/sst/elements/llyr/lsQueue.h
  src/sst/elements/llyr/mappers/gemmMapper.h
  src/sst/elements/llyr/mappers/llyrMapper.h
  src/sst/elements/llyr/mappers/mapperList.h
  src/sst/elements/llyr/mappers/pyMapper.h
  src/sst/elements/llyr/mappers/simpleMapper.h
  src/sst/elements/llyr/parser/instruction.h
  src/sst/elements/llyr/parser/parser.cc
  src/sst/elements/llyr/parser/parser.h
  src/sst/elements/llyr/pes/complexPE.h
  src/sst/elements/llyr/pes/controlPE.h
  src/sst/elements/llyr/pes/dummyPE.h
  src/sst/elements/llyr/pes/fpPE.h
  src/sst/elements/llyr/pes/intPE.h
  src/sst/elements/llyr/pes/loadPE.h
  src/sst/elements/llyr/pes/logicPE.h
  src/sst/elements/llyr/pes/peList.h
  src/sst/elements/llyr/pes/processingElement.h
  src/sst/elements/llyr/pes/storePE.h
  src/sst/elements/llyr/tests/gemm.in
  src/sst/elements/llyr/tests/graph_mesh_25.hdw
  src/sst/elements/llyr/tests/int-1.mem
  src/sst/elements/llyr/tests/llyr_test.py
  src/sst/elements/llyr/tests/refFiles/llyr_test.out
  src/sst/elements/llyr/tests/testsuite_default_llyr.py
  src/sst/elements/llyr/tools/gemm_gen.py
  src/sst/elements/llyr/tools/graphGen.py
  src/sst/elements/llyr/tools/graph_gen.py
  src/sst/elements/llyr/tools/pyMapper.py
  src/sst/elements/llyr/tools/spmm_gen.py
  src/sst/elements/llyr/tools/vf3_to_hwr.py
Labels: Enhancement, SST-Llyr

#1873 memH: Update sdl tests
  src/sst/elements/memHierarchy/Makefile.am
  src/sst/elements/memHierarchy/testcpu/standardCPU.cc
  src/sst/elements/memHierarchy/tests/refFiles/test_memHA_StdMem_nic.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl2_1.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl3_1.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl3_2.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl3_3.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl4_1.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl4_2.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl4_2_ramulator.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl5_1.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl5_1_MC.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl5_1_ramulator.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl5_1_ramulator_MC.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl8_1.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl8_3.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl8_4.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl9_1.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl9_2.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl_1.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl_2.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl_3.out
  src/sst/elements/memHierarchy/tests/sdl-1.py
  src/sst/elements/memHierarchy/tests/sdl-2.py
  src/sst/elements/memHierarchy/tests/sdl-3.py
  src/sst/elements/memHierarchy/tests/sdl2-1.py
  src/sst/elements/memHierarchy/tests/sdl3-1.py
  src/sst/elements/memHierarchy/tests/sdl3-2.py
  src/sst/elements/memHierarchy/tests/sdl3-3.py
  src/sst/elements/memHierarchy/tests/sdl4-1.py
  src/sst/elements/memHierarchy/tests/sdl4-2-ramulator.py
  src/sst/elements/memHierarchy/tests/sdl4-2.py
  src/sst/elements/memHierarchy/tests/sdl5-1-ramulator.py
  src/sst/elements/memHierarchy/tests/sdl5-1.py
  src/sst/elements/memHierarchy/tests/sdl8-1.py
  src/sst/elements/memHierarchy/tests/sdl8-3.py
  src/sst/elements/memHierarchy/tests/sdl8-4.py
  src/sst/elements/memHierarchy/tests/sdl9-1.py
  src/sst/elements/memHierarchy/tests/sdl9-2.py
  src/sst/elements/memHierarchy/tests/testsuite_default_memHierarchy_sdl.py
Labels: SST-MemHierarchy

#1876 Adding Vanadis OS support for read/readv/unlink/unlinkat
  src/sst/elements/vanadis/Makefile.am
  src/sst/elements/vanadis/os/callev/voscallall.h
  src/sst/elements/vanadis/os/callev/voscallread.h
  src/sst/elements/vanadis/os/callev/voscallreadv.h
  src/sst/elements/vanadis/os/callev/voscallunlink.h
  src/sst/elements/vanadis/os/callev/voscallunlinkat.h
  src/sst/elements/vanadis/os/node/vnodeosreadh.h
  src/sst/elements/vanadis/os/node/vnodeosreadvh.h
  src/sst/elements/vanadis/os/node/vnodeosunlinkath.h
  src/sst/elements/vanadis/os/node/vnodeosunlinkh.h
  src/sst/elements/vanadis/os/vmipscpuos.h
  src/sst/elements/vanadis/os/vnodeoshandler.h
  src/sst/elements/vanadis/os/voscallfunc.h
  src/sst/elements/vanadis/os/vriscvcpuos.h
  src/sst/elements/vanadis/tests/small/basic-io/Makefile
  src/sst/elements/vanadis/tests/small/basic-io/openat.c
  src/sst/elements/vanadis/tests/small/basic-io/openat.stderr.gold
  src/sst/elements/vanadis/tests/small/basic-io/openat.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/read-write.c
  src/sst/elements/vanadis/tests/small/basic-io/read-write.stderr.gold
  src/sst/elements/vanadis/tests/small/basic-io/read-write.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/unlink.c
  src/sst/elements/vanadis/tests/small/basic-io/unlink.stderr.gold
  src/sst/elements/vanadis/tests/small/basic-io/unlink.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/unlinkat.c
  src/sst/elements/vanadis/tests/small/basic-io/unlinkat.stderr.gold
  src/sst/elements/vanadis/tests/small/basic-io/unlinkat.stdout.gold
  src/sst/elements/vanadis/tests/testsuite_default_vanadis.py
Labels: Enhancement, SST-Vanadis

#1879 Move code that loads the elf text/data/appEnvironmentData from Vanadis component to OS component
  src/sst/elements/rdmaNic/tests/vanadisBlock.py
  src/sst/elements/vanadis/Makefile.am
  src/sst/elements/vanadis/decoder/vdecoder.h
  src/sst/elements/vanadis/decoder/vmipsdecoder.h
  src/sst/elements/vanadis/decoder/vriscv64decoder.h
  src/sst/elements/vanadis/os/callev/voscallall.h
  src/sst/elements/vanadis/os/callev/vosinitbrk.h
  src/sst/elements/vanadis/os/vappruntimememory.h
  src/sst/elements/vanadis/os/vcpuos.h
  src/sst/elements/vanadis/os/velfloader.cc
  src/sst/elements/vanadis/os/velfloader.h
  src/sst/elements/vanadis/os/vmipscpuos.h
  src/sst/elements/vanadis/os/vnodeos.cc
  src/sst/elements/vanadis/os/vnodeos.h
  src/sst/elements/vanadis/os/vnodeoshandler.h
  src/sst/elements/vanadis/os/voscallfunc.h
  src/sst/elements/vanadis/os/vriscvcpuos.h
  src/sst/elements/vanadis/os/vstartthreadreq.h
  src/sst/elements/vanadis/tests/basic_vanadis.py
  src/sst/elements/vanadis/vanadis.cc
  src/sst/elements/vanadis/vanadis.h
  src/sst/elements/vanadis/velf/velfinfo.h
Labels: Enhancement, SST-Vanadis

#1889 Fix compile warnings
  src/sst/elements/simpleElementExample/tests/testsuite_default_simpleComponents.py
  src/sst/elements/vanadis/decoder/vriscv64decoder.h
  src/sst/elements/vanadis/os/node/vnodeosreadvh.h
  src/sst/elements/vanadis/os/node/vnodeosunlinkath.h
  src/sst/elements/vanadis/os/vmipscpuos.h
  src/sst/elements/vanadis/vanadis.cc
  src/sst/elements/vanadis/vinsloader.h
Labels: Enhancement, SST-Vanadis
