Repository sstsimulator/sst-elements, pull requests merged in 2022-10, with the labels that each got.

#1932 Fix firefly stream
  src/sst/elements/firefly/merlinEvent.h
  src/sst/elements/firefly/nic.cc
  src/sst/elements/firefly/nic.h
  src/sst/elements/firefly/nicRecvCtx.cc
  src/sst/elements/firefly/nicRecvMachine.cc
  src/sst/elements/firefly/nicRecvMachine.h
  src/sst/elements/firefly/nicSendEntry.h
  src/sst/elements/firefly/nicSendMachine.cc
  src/sst/elements/firefly/nicShmem.cc
  src/sst/elements/firefly/nicShmemSendEntry.h
  src/sst/elements/firefly/nicShmemStream.cc
Labels: SST-FireFly

#1938 New Vanadis LSQ Implementation
  src/sst/elements/rdmaNic/tests/app/rdma/msg.out.gold
  src/sst/elements/rdmaNic/tests/vanadisBlock.py
  src/sst/elements/vanadis/Makefile.am
  src/sst/elements/vanadis/decoder/vmipsdecoder.h
  src/sst/elements/vanadis/decoder/vriscv64decoder.h
  src/sst/elements/vanadis/inst/isatable.h
  src/sst/elements/vanadis/inst/regfile.h
  src/sst/elements/vanadis/inst/vbfp.h
  src/sst/elements/vanadis/inst/vinstall.h
  src/sst/elements/vanadis/inst/vload.h
  src/sst/elements/vanadis/inst/vmipsfpscmp.h
  src/sst/elements/vanadis/inst/vpartialload.h
  src/sst/elements/vanadis/inst/vsetregcallable.h
  src/sst/elements/vanadis/inst/vstore.h
  src/sst/elements/vanadis/lsq/vbasiclsq.h
  src/sst/elements/vanadis/lsq/vbasiclsqentry.h
  src/sst/elements/vanadis/lsq/vlsq.h
  src/sst/elements/vanadis/lsq/vlsqseq.h
  src/sst/elements/vanadis/lsq/vlsqstd.h
  src/sst/elements/vanadis/tests/basic_vanadis.py
  src/sst/elements/vanadis/vanadis.cc
  src/sst/elements/vanadis/vanadis.h
Labels: Bug, Enhancement, SST-Vanadis

#1945 Fix ADDIW Immediate Decode in Vanadis RISCV
  src/sst/elements/vanadis/decoder/vriscv64decoder.h
Labels: Bug, SST-Vanadis

#1955 Fix use of uint instead of uint32_t in several components
  src/sst/elements/CramSim/c_AddressHasher.cpp
  src/sst/elements/GNA/GNA.cc
  src/sst/elements/GNA/GNA.h
  src/sst/elements/GNA/neuron.h
  src/sst/elements/GNA/sts.cc
  src/sst/elements/GNA/sts.h
  src/sst/elements/memHierarchy/membackend/HBMpagedMultiBackend.cc
  src/sst/elements/memHierarchy/membackend/pagedMultiBackend.h
Labels: Bug, SST-CramSim, SST-GenSA
