Repository sstsimulator/sst-elements, pull requests merged in 2023-08, with the labels that each got.

#2191 add new Vanadis test
  src/sst/elements/vanadis/Makefile.am
  src/sst/elements/vanadis/tests/small/misc/openmp2/Makefile
  src/sst/elements/vanadis/tests/small/misc/openmp2/mipsel/16core/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/mipsel/16core/vanadis.stderr.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/mipsel/16core/vanadis.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/mipsel/32thread/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/mipsel/32thread/vanadis.stderr.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/mipsel/32thread/vanadis.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/mipsel/4core-8thread/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/mipsel/4core-8thread/vanadis.stderr.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/mipsel/4core-8thread/vanadis.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/mipsel/openmp2
  src/sst/elements/vanadis/tests/small/misc/openmp2/openmp2.c
  src/sst/elements/vanadis/tests/small/misc/openmp2/riscv64/16core/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/riscv64/16core/vanadis.stderr.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/riscv64/16core/vanadis.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/riscv64/32thread/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/riscv64/32thread/vanadis.stderr.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/riscv64/32thread/vanadis.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/riscv64/4core-8thread/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/riscv64/4core-8thread/vanadis.stderr.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/riscv64/4core-8thread/vanadis.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/riscv64/openmp2
  src/sst/elements/vanadis/tests/testsuite_default_vanadis.py
Labels: Enhancement, SST-Vanadis

#2195 llyr updates
  src/sst/elements/llyr/llyr.cc
  src/sst/elements/llyr/llyr.h
  src/sst/elements/llyr/llyrHelpers.h
  src/sst/elements/llyr/llyrTypes.h
  src/sst/elements/llyr/lsQueue.h
  src/sst/elements/llyr/mappers/llyrMapper.h
  src/sst/elements/llyr/mappers/pyMapper.h
  src/sst/elements/llyr/mappers/simpleMapper.h
  src/sst/elements/llyr/pes/complexPE.h
  src/sst/elements/llyr/pes/controlPE.h
  src/sst/elements/llyr/pes/fpPE.h
  src/sst/elements/llyr/pes/intPE.h
  src/sst/elements/llyr/pes/loadPE.h
  src/sst/elements/llyr/pes/logicPE.h
  src/sst/elements/llyr/pes/processingElement.h
  src/sst/elements/llyr/pes/storePE.h
  src/sst/elements/llyr/tests/llyr_test.py
Labels: Enhancement, SST-Llyr

#2202 Rename Opal Directory to Fit Elements Naming
  src/sst/elements/Opal/configure.m4
  src/sst/elements/opal/Makefile.am
  src/sst/elements/opal/README
  src/sst/elements/opal/arielmemmgr_opal.cc
  src/sst/elements/opal/arielmemmgr_opal.h
  src/sst/elements/opal/configure.m4
  src/sst/elements/opal/mempool.cc
  src/sst/elements/opal/mempool.h
  src/sst/elements/opal/opal.cc
  src/sst/elements/opal/opal.h
  src/sst/elements/opal/opalMemNIC.cc
  src/sst/elements/opal/opalMemNIC.h
  src/sst/elements/opal/opal_event.h
  src/sst/elements/opal/page_fault_handler.cc
  src/sst/elements/opal/page_fault_handler.h
  src/sst/elements/opal/tests/app/makefile
  src/sst/elements/opal/tests/app/opal_mlm.c
  src/sst/elements/opal/tests/app/opal_test.c
  src/sst/elements/opal/tests/basic_1node_1smp.py
  src/sst/elements/opal/tests/basic_2node_1smp.py
  src/sst/elements/opal/tests/refFiles/test_Opal_basic_1node_1smp.out
  src/sst/elements/opal/tests/refFiles/test_Opal_basic_2node_1smp.out
Labels: Enhancement, SST-BuildSystem, SST-Opal

#2203 Vanadis
  src/sst/elements/vanadis/decoder/vriscv64decoder.h
  src/sst/elements/vanadis/os/vnodeos.cc
Labels: Enhancement, SST-Vanadis

#2207 Vanadis IO
  src/sst/elements/vanadis/Makefile.am
  src/sst/elements/vanadis/os/callev/voscallall.h
  src/sst/elements/vanadis/os/callev/voscalllseek.h
  src/sst/elements/vanadis/os/syscall/lseek.h
  src/sst/elements/vanadis/os/vcpuos2.h
  src/sst/elements/vanadis/os/vmipscpuos.h
  src/sst/elements/vanadis/os/vnodeoshandler.cc
  src/sst/elements/vanadis/os/voscallfunc.h
  src/sst/elements/vanadis/os/vriscvcpuos.h
  src/sst/elements/vanadis/tests/basic_vanadis.py
  src/sst/elements/vanadis/tests/small/basic-io/fread-fwrite/Makefile
  src/sst/elements/vanadis/tests/small/basic-io/fread-fwrite/fread-fwrite.c
  src/sst/elements/vanadis/tests/small/basic-io/fread-fwrite/mipsel/fread-fwrite
  src/sst/elements/vanadis/tests/small/basic-io/fread-fwrite/mipsel/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/fread-fwrite/mipsel/vanadis.stderr.gold
  src/sst/elements/vanadis/tests/small/basic-io/fread-fwrite/mipsel/vanadis.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/fread-fwrite/riscv64/fread-fwrite
  src/sst/elements/vanadis/tests/small/basic-io/fread-fwrite/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/fread-fwrite/riscv64/vanadis.stderr.gold
  src/sst/elements/vanadis/tests/small/basic-io/fread-fwrite/riscv64/vanadis.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/lseek/Makefile
  src/sst/elements/vanadis/tests/small/basic-io/lseek/lseek.c
  src/sst/elements/vanadis/tests/small/basic-io/lseek/riscv64/lseek
  src/sst/elements/vanadis/tests/small/basic-io/lseek/riscv64/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/basic-io/lseek/riscv64/vanadis.stderr.gold
  src/sst/elements/vanadis/tests/small/basic-io/lseek/riscv64/vanadis.stdout.gold
  src/sst/elements/vanadis/tests/testsuite_default_vanadis.py
Labels: Enhancement, SST-Vanadis

#2208 Fix warnings in Samba (and SOME of the horrible formatting)
  src/sst/elements/llyr/llyr.h
  src/sst/elements/samba/page_table_walker.cc
  src/sst/elements/samba/page_table_walker.h
  src/sst/elements/samba/samba.cc
  src/sst/elements/samba/samba.h
  src/sst/elements/samba/simple_tlb.cc
  src/sst/elements/samba/simple_tlb.h
  src/sst/elements/samba/tlb_hierarchy.h
Labels: Enhancement, SST-Samba

#2213 RDMA NIC
  src/sst/elements/rdmaNic/Makefile.am
  src/sst/elements/rdmaNic/tests/app/mpi/README
  src/sst/elements/rdmaNic/tests/app/mpi/configure_rdma
  src/sst/elements/rdmaNic/tests/app/mpi/patch.diff
  src/sst/elements/rdmaNic/tests/app/mpi/riscv64/IMB-MPI1
  src/sst/elements/rdmaNic/tests/app/mpi/riscv64/IMB-MPI1.err.gold
  src/sst/elements/rdmaNic/tests/app/mpi/riscv64/IMB-MPI1.out.gold
  src/sst/elements/rdmaNic/tests/app/mpi/riscv64/IMB-MPI1.stderr-node0.cpu0.os.gold
  src/sst/elements/rdmaNic/tests/app/mpi/riscv64/IMB-MPI1.stderr-node1.cpu0.os.gold
  src/sst/elements/rdmaNic/tests/app/mpi/riscv64/IMB-MPI1.stdout-node0.cpu0.os.gold
  src/sst/elements/rdmaNic/tests/app/mpi/riscv64/IMB-MPI1.stdout-node1.cpu0.os.gold
  src/sst/elements/rdmaNic/tests/app/mpi/runVanadis
  src/sst/elements/rdmaNic/tests/app/rdma/Makefile
  src/sst/elements/rdmaNic/tests/app/rdma/riscv64/msg.err.gold
  src/sst/elements/rdmaNic/tests/app/rdma/riscv64/msg.out.gold
  src/sst/elements/rdmaNic/tests/app/rdma/riscv64/msg.stderr-node0.cpu0.os.gold
  src/sst/elements/rdmaNic/tests/app/rdma/riscv64/msg.stderr-node1.cpu0.os.gold
  src/sst/elements/rdmaNic/tests/app/rdma/riscv64/msg.stdout-node0.cpu0.os.gold
  src/sst/elements/rdmaNic/tests/app/rdma/riscv64/msg.stdout-node1.cpu0.os.gold
  src/sst/elements/rdmaNic/tests/testsuite_default_rdmaNic.py
Labels: AT: RETEST
