Repository sstsimulator/sst-elements, pull requests merged in 2023-04, with the labels that each got.

#2096 Updated CramSim, Opal and Samba to remove use of deprecated functions
  src/sst/elements/CramSim/c_AddressHasher.hpp
  src/sst/elements/CramSim/c_BankState.hpp
  src/sst/elements/CramSim/c_CmdScheduler.hpp
  src/sst/elements/CramSim/c_DeviceDriver.hpp
  src/sst/elements/CramSim/c_TxnConverter.hpp
  src/sst/elements/CramSim/c_TxnScheduler.hpp
  src/sst/elements/Opal/PageFaultHandler.h
  src/sst/elements/Opal/arielmemmgr_opal.h
  src/sst/elements/Opal/opalMemNIC.h
  src/sst/elements/Samba/Samba.cc
  src/sst/elements/Samba/SimpleTLB.cc
  src/sst/elements/Samba/TLBUnit.cc
Labels: SST-Samba, SST-Opal

#2078 Update Balar with mmio interface
  src/sst/elements/balar/.gitignore
  src/sst/elements/balar/Makefile.am
  src/sst/elements/balar/README.md
  src/sst/elements/balar/balar.cc
  src/sst/elements/balar/balar.h
  src/sst/elements/balar/balarMMIO.cc
  src/sst/elements/balar/balarMMIO.h
  src/sst/elements/balar/cuda_runtime_api.h
  src/sst/elements/balar/devNote.md
  src/sst/elements/balar/dmaEngine.cc
  src/sst/elements/balar/dmaEngine.h
  src/sst/elements/balar/mempool.cpp
  src/sst/elements/balar/mempool.h
  src/sst/elements/balar/testcpu/balarTestCPU.cc
  src/sst/elements/balar/testcpu/balarTestCPU.h
  src/sst/elements/balar/tests/cuda-test-legacy.py
  src/sst/elements/balar/tests/gpgpusim.config
  src/sst/elements/balar/tests/gpu-v100-mem.cfg
  src/sst/elements/balar/tests/refFiles/test_gpgpu_vectorAdd.out
  src/sst/elements/balar/tests/stats_compare.sh
  src/sst/elements/balar/tests/testBalar-testcpu.py
  src/sst/elements/balar/tests/testBalar-vanadis.py
  src/sst/elements/balar/tests/testsuite_default_balar.py
  src/sst/elements/balar/tests/utils.py
  src/sst/elements/balar/tests/vanadisHandshake/.gitignore
  src/sst/elements/balar/tests/vanadisHandshake/Makefile
  src/sst/elements/balar/tests/vanadisHandshake/cuda_runtime_api.c
  src/sst/elements/balar/tests/vanadisHandshake/cuda_runtime_api.h
  src/sst/elements/balar/tests/vanadisHandshake/vanadisHandshake.c
  src/sst/elements/balar/tests/vectorAdd/.gitignore
  src/sst/elements/balar/tests/vectorAdd/Makefile
  src/sst/elements/balar/tests/vectorAdd/cuMemcpyD2H-0-524288.data
  src/sst/elements/balar/tests/vectorAdd/cuMemcpyH2D-0-524288.data
  src/sst/elements/balar/tests/vectorAdd/cuMemcpyH2D-1-524288.data
  src/sst/elements/balar/tests/vectorAdd/cuda_calls.trace
  src/sst/elements/balar/util.cc
  src/sst/elements/balar/util.h
Labels: Enhancement, SST-Balar

#2100 Added int mul latency.
  src/sst/elements/llyr/llyr.cc
  src/sst/elements/llyr/llyr.h
  src/sst/elements/llyr/llyrTypes.h
  src/sst/elements/llyr/mappers/pyMapper.h
  src/sst/elements/llyr/pes/intPE.h
Labels: Enhancement, SST-Llyr

#2101 Vanadis: Fix some compiler warnings
  src/sst/elements/vanadis/Makefile.am
  src/sst/elements/vanadis/decoder/vmipsdecoder.cc
  src/sst/elements/vanadis/decoder/vmipsdecoder.h
  src/sst/elements/vanadis/decoder/vriscv64decoder.cc
  src/sst/elements/vanadis/inst/vcmptype.h
  src/sst/elements/vanadis/inst/vinsttype.h
  src/sst/elements/vanadis/inst/vmemflagtype.h
  src/sst/elements/vanadis/inst/vregfmt.h
  src/sst/elements/vanadis/os/vcpuos.h
  src/sst/elements/vanadis/os/vcpuos2.h
  src/sst/elements/vanadis/os/vmipscpuos.h
  src/sst/elements/vanadis/os/vriscvcpuos.h
  src/sst/elements/vanadis/util/vsignx.h
  src/sst/elements/vanadis/vanadis.cc
  src/sst/elements/vanadis/vfpflags.h
Labels: Enhancement, SST-Vanadis

#2103 Vanadis: fix compiler warnings
  src/sst/elements/vanadis/decoder/vriscv64decoder.h
  src/sst/elements/vanadis/lsq/vbasiclsq.h
  src/sst/elements/vanadis/os/include/process.h
  src/sst/elements/vanadis/os/syscall/fstatat.h
  src/sst/elements/vanadis/os/syscall/getaffinity.h
  src/sst/elements/vanadis/os/syscall/kill.h
  src/sst/elements/vanadis/os/syscall/mmap.h
  src/sst/elements/vanadis/os/syscall/prlimit.h
  src/sst/elements/vanadis/os/syscall/read.h
  src/sst/elements/vanadis/os/syscall/readlinkat.h
  src/sst/elements/vanadis/os/syscall/syscall.cc
  src/sst/elements/vanadis/os/vcpuos2.h
  src/sst/elements/vanadis/os/vmipscpuos.h
  src/sst/elements/vanadis/os/vnodeos.cc
  src/sst/elements/vanadis/os/vriscvcpuos.h
  src/sst/elements/vanadis/vanadis.cc
Labels: Enhancement, SST-Vanadis

#2104 Vanadis: fix compiler warnings
  src/sst/elements/vanadis/inst/vaddi.h
  src/sst/elements/vanadis/inst/vgpr2fp.h
  src/sst/elements/vanadis/inst/vmipsfpscmp.h
  src/sst/elements/vanadis/inst/vmod.h
  src/sst/elements/vanadis/inst/vmovci.h
  src/sst/elements/vanadis/inst/vsetreg.h
  src/sst/elements/vanadis/inst/vsetregcallable.h
  src/sst/elements/vanadis/inst/vslli.h
Labels: Enhancement, SST-Vanadis

#2113 MMU: fix compiler warnings
  src/sst/elements/mmu/simpleMMU.cc
  src/sst/elements/mmu/simpleMMU.h
  src/sst/elements/mmu/simpleTLB.cc
  src/sst/elements/mmu/simpleTLB.h
Labels: Enhancement

#2125 Vanadis: bug fixes
  src/sst/elements/vanadis/lsq/vbasiclsq.h
  src/sst/elements/vanadis/os/syscall/syscall.h
Labels: Bug, SST-Vanadis
