Repository sstsimulator/sst-elements, pull requests merged in 2024-01, with the labels that each got.

#2300 Add to stats more efficiently in various turnClockOn() functions
  src/sst/elements/memHierarchy/cacheController.cc
  src/sst/elements/memHierarchy/directoryController.cc
  src/sst/elements/memHierarchy/membackend/memBackendConvertor.cc
Labels: Enhancement, SST-memHierarchy

#2297 MemH: Fix a couple bugs in the MSI protocol
  src/sst/elements/memHierarchy/coherencemgr/MESI_Inclusive.cc
  src/sst/elements/memHierarchy/coherencemgr/MESI_Shared_Noninclusive.cc
  src/sst/elements/memHierarchy/coherencemgr/MESI_Shared_Noninclusive.h
  src/sst/elements/memHierarchy/tests/refFiles/test_memHA_Noninclusive_2.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHA_StdMem_noninclusive.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl3_3.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl4_2_ramulator.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl5_1.out
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl9_1.out
Labels: Bug, SST-memHierarchy

#2304 Fix issue with mispelled parameter name in pyfirefly
  src/sst/elements/firefly/pyfirefly.py
Labels: Bug, SST-firefly
