Repository sstsimulator/sst-elements, pull requests merged in 2025-03, with the labels that each got.

#2461 Significantly reduce compiler warnings in SST Elements
  src/sst/elements/cacheTracer/cacheTracer.cc
  src/sst/elements/cramSim/c_DeviceDriver.cc
  src/sst/elements/cramSim/c_TxnDispatcher.cc
  src/sst/elements/cramSim/c_TxnGen.cc
  src/sst/elements/ember/embergen.cc
  src/sst/elements/iris/libfabric/prov/sumi/src/sumi_av.cc
  src/sst/elements/memHierarchy/memNICBase.h
  src/sst/elements/memHierarchy/membackend/backing.h
  src/sst/elements/memHierarchy/memoryController.cc
  src/sst/elements/memHierarchy/standardInterface.cc
  src/sst/elements/mercury/components/operating_system.cc
  src/sst/elements/merlin/topology/polarfly.cc
  src/sst/elements/merlin/topology/polarstar.cc
  src/sst/elements/vanadis/decoder/vriscv64decoder.h
  src/sst/elements/vanadis/inst/vrocc.h
  src/sst/elements/vanadis/os/include/fdTable.h
  src/sst/elements/vanadis/os/include/process.h
  src/sst/elements/vanadis/os/include/virtMemMap.h
  src/sst/elements/vanadis/os/syscall/clone.cc
  src/sst/elements/vanadis/os/syscall/exit.cc
  src/sst/elements/vanadis/os/velfloader.cc
  src/sst/elements/vanadis/os/vnodeos.cc
  src/sst/elements/vanadis/os/vphysmemmanager.h
  src/sst/elements/vanadis/rocc/vbasicrocc.h
  src/sst/elements/vanadis/util/vfpreghandler.h
  src/sst/elements/vanadis/vanadis.cc
  src/sst/elements/vanadis/velf/velfinfo.h
  src/sst/elements/vanadis/vfpflags.h
Labels: SST-BuildSystem

#2471 fix_balar_build: add check for CUDA and fix compilation warnings
  src/sst/elements/balar/.gitignore
  src/sst/elements/balar/Makefile.am
  src/sst/elements/balar/balarMMIO.cc
  src/sst/elements/balar/balarMMIO.h
  src/sst/elements/balar/balar_event.h
  src/sst/elements/balar/balar_packet.h
  src/sst/elements/balar/configure.m4
  src/sst/elements/balar/dmaEngine.cc
  src/sst/elements/balar/dmaEngine.h
  src/sst/elements/balar/testcpu/balarTestCPU.cc
  src/sst/elements/balar/testcpu/balarTestCPU.h
  src/sst/elements/balar/util.h
Labels: SST-balar

#2475 remove unnecessary UNUSED() macros in declarations (not definitions)
  src/sst/elements/memHierarchy/memLink.h
  src/sst/elements/memHierarchy/memLinkBase.h
  src/sst/elements/shogun/shogun_nic.h
Labels: AT: PRE-TEST INSPECTED

#2477 Fix: set/get Affinity
  src/sst/elements/vanadis/os/include/process.h
  src/sst/elements/vanadis/os/syscall/getaffinity.h
  src/sst/elements/vanadis/os/syscall/getcpu.h
  src/sst/elements/vanadis/os/syscall/setaffinity.h
  src/sst/elements/vanadis/os/vnodeos.cc
  src/sst/elements/vanadis/os/vnodeos.h
  src/sst/elements/vanadis/tests/small/misc/openmp/mipsel/2core-2thread/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp/mipsel/2core-2thread/vanadis.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp/mipsel/4thread/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp/riscv64/2core-2thread/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp/riscv64/4thread/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/riscv64/32thread/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/misc/openmp2/riscv64/4core-8thread/sst.stdout.gold
  src/sst/elements/vanadis/tests/small/multicore/openmp/riscv64/3core/sst.stdout.gold
Labels: Enhancement, SST-vanadis

#2487 Add override to overriden functions to remove Clang warnings
  src/sst/elements/memHierarchy/cacheController.h
  src/sst/elements/memHierarchy/coherencemgr/MESI_Inclusive.h
  src/sst/elements/memHierarchy/coherencemgr/MESI_L1.h
  src/sst/elements/memHierarchy/memLink.h
  src/sst/elements/memHierarchy/memNICFour.h
  src/sst/elements/memHierarchy/memoryController.h
  src/sst/elements/vanadis/inst/vadd.h
  src/sst/elements/vanadis/inst/vdiv.h
  src/sst/elements/vanadis/inst/vfence.h
  src/sst/elements/vanadis/inst/vfp2gpr.h
  src/sst/elements/vanadis/inst/vfpclass.h
  src/sst/elements/vanadis/inst/vfpconv.h
  src/sst/elements/vanadis/inst/vfpsqrt.h
  src/sst/elements/vanadis/inst/vgpr2fp.h
  src/sst/elements/vanadis/inst/vmin.h
  src/sst/elements/vanadis/inst/vnop.h
  src/sst/elements/vanadis/inst/vnor.h
  src/sst/elements/vanadis/inst/vor.h
  src/sst/elements/vanadis/inst/vori.h
  src/sst/elements/vanadis/inst/vpartialload.h
  src/sst/elements/vanadis/inst/vpartialstore.h
  src/sst/elements/vanadis/inst/vscmp.h
  src/sst/elements/vanadis/inst/vslli.h
  src/sst/elements/vanadis/inst/vstore.h
  src/sst/elements/vanadis/inst/vsyscall.h
  src/sst/elements/vanadis/inst/vxor.h
Labels: SST-BuildSystem
