Repository sstsimulator/sst-elements, pull requests merged in 2025-04, with the labels that each got.

#2470 Mercury: support for multiple tasks per node
  src/sst/elements/iris/sumi/collective_actor.cc
  src/sst/elements/iris/sumi/communicator.cc
  src/sst/elements/iris/sumi/sim_transport.cc
  src/sst/elements/iris/sumi/transport.h
  src/sst/elements/mask-mpi/mpi_api.cc
  src/sst/elements/mask-mpi/mpi_api.h
  src/sst/elements/mask-mpi/mpi_api_comm.cc
  src/sst/elements/mask-mpi/mpi_comm/mpi_comm_factory.cc
  src/sst/elements/mask-mpi/mpi_comm/mpi_comm_factory.h
  src/sst/elements/mercury/components/nic.cc
  src/sst/elements/mercury/components/node.cc
  src/sst/elements/mercury/components/node_CL.cc
  src/sst/elements/mercury/components/node_base.cc
  src/sst/elements/mercury/components/node_base.h
  src/sst/elements/mercury/components/operating_system.cc
  src/sst/elements/mercury/components/operating_system.h
  src/sst/elements/mercury/components/operating_system_base.h
  src/sst/elements/mercury/libraries/compute/compute_scheduler.cc
  src/sst/elements/mercury/libraries/compute/compute_scheduler.h
  src/sst/elements/mercury/operating_system/launch/app_launcher.cc
  src/sst/elements/mercury/operating_system/launch/app_launcher.h
  src/sst/elements/mercury/operating_system/process/app.cc
  src/sst/elements/mercury/operating_system/process/app.h
  src/sst/elements/mercury/pymercury.py
Labels: AT: RETEST

#2489 memH: Add ability to read memory during init()
  src/sst/elements/memHierarchy/Makefile.am
  src/sst/elements/memHierarchy/Sieve/alloctrackev.h
  src/sst/elements/memHierarchy/Sieve/broadcastShim.cc
  src/sst/elements/memHierarchy/Sieve/memmgr_sieve.cc
  src/sst/elements/memHierarchy/Sieve/sieveController.cc
  src/sst/elements/memHierarchy/Sieve/sieveFactory.cc
  src/sst/elements/memHierarchy/bus.cc
  src/sst/elements/memHierarchy/cacheController.cc
  src/sst/elements/memHierarchy/cacheController.h
  src/sst/elements/memHierarchy/cacheFactory.cc
  src/sst/elements/memHierarchy/coherencemgr/coherenceController.cc
  src/sst/elements/memHierarchy/coherencemgr/coherenceController.h
  src/sst/elements/memHierarchy/coherentMemoryController.cc
  src/sst/elements/memHierarchy/directoryController.cc
  src/sst/elements/memHierarchy/directoryController.h
  src/sst/elements/memHierarchy/dmaEngine.cc
  src/sst/elements/memHierarchy/examples/README.md
  src/sst/elements/memHierarchy/examples/example-1core-1level.py
  src/sst/elements/memHierarchy/examples/example-1core-3level.py
  src/sst/elements/memHierarchy/examples/example-1core-nocache.py
  src/sst/elements/memHierarchy/examples/example-4core-shared-distributed-llc.py
  src/sst/elements/memHierarchy/examples/example-4core-shared-llc.py
  src/sst/elements/memHierarchy/hash.cc
  src/sst/elements/memHierarchy/hash.h
  src/sst/elements/memHierarchy/memEventBase.h
  src/sst/elements/memHierarchy/memLink.cc
  src/sst/elements/memHierarchy/memNIC.cc
  src/sst/elements/memHierarchy/memNICFour.cc
  src/sst/elements/memHierarchy/membackend/HBMdramSimBackend.cc
  src/sst/elements/memHierarchy/membackend/HBMpagedMultiBackend.cc
  src/sst/elements/memHierarchy/membackend/MessierBackend.cc
  src/sst/elements/memHierarchy/membackend/cramSimBackend.cc
  src/sst/elements/memHierarchy/membackend/delayBuffer.cc
  src/sst/elements/memHierarchy/membackend/dramSim3Backend.cc
  src/sst/elements/memHierarchy/membackend/dramSimBackend.cc
  src/sst/elements/memHierarchy/membackend/extMemBackendConvertor.cc
  src/sst/elements/memHierarchy/membackend/flagMemBackendConvertor.cc
  src/sst/elements/memHierarchy/membackend/flashSimBackend.cc
  src/sst/elements/memHierarchy/membackend/goblinHMCBackend.cc
  src/sst/elements/memHierarchy/memoryCacheController.cc
  src/sst/elements/memHierarchy/memoryController.cc
  src/sst/elements/memHierarchy/multithreadL1Shim.cc
  src/sst/elements/memHierarchy/scratchpad.cc
  src/sst/elements/memHierarchy/standardInterface.cc
  src/sst/elements/memHierarchy/standardInterface.h
  src/sst/elements/memHierarchy/testcpu/standardCPU.cc
  src/sst/elements/memHierarchy/testcpu/standardCPU.h
  src/sst/elements/memHierarchy/tests/mhlib.py
  src/sst/elements/memHierarchy/tests/refFiles/test_memHierarchy_sdl_1.out
  src/sst/elements/memHierarchy/tests/sdl-1.py
  src/sst/elements/memHierarchy/tests/test_backing.py
  src/sst/elements/memHierarchy/tests/testsuite_default_memHierarchy_sdl.py
  src/sst/elements/memHierarchy/tests/testsuite_weekly_memHierarchy_examples.py
Labels: Enhancement, SST-memHierarchy

#2488 fix misc warnings
  src/sst/elements/mask-mpi/mpi_comm/mpi_comm_cart.h
  src/sst/elements/mask-mpi/tests/sendrecv.cc
  src/sst/elements/memHierarchy/cacheFactory.cc
  src/sst/elements/memHierarchy/directoryController.cc
  src/sst/elements/vanadis/lsq/vbasiclsq.h
Labels: SST-BuildSystem, AT: PRE-TEST INSPECTED

#2495 Add dummy hw_probe syscall for rv64
  src/sst/elements/vanadis/os/voscallfunc.h
  src/sst/elements/vanadis/os/vriscvcpuos.h
Labels: SST-vanadis

#2492 Fix for api and mpi file deletion when building in-source
  src/sst/elements/ariel/Makefile.am
  src/sst/elements/ariel/api/Makefile.am
  src/sst/elements/ariel/configure.m4
  src/sst/elements/ariel/frontend/simple/examples/stream/Makefile
  src/sst/elements/ariel/mpi/Makefile.am
  src/sst/elements/ariel/tests/testsuite_default_Ariel.py
  src/sst/elements/ariel/tests/testsuite_mpi_Ariel.py
  src/sst/elements/ariel/tests/testsuite_testio_Ariel.py
  src/sst/elements/memHierarchy/Makefile.am
Labels: SST-BuildSystem

#2509 MemH: Checkpoint support for some memH components
  src/sst/elements/memHierarchy/Sieve/alloctrackev.h
  src/sst/elements/memHierarchy/Sieve/broadcastShim.cc
  src/sst/elements/memHierarchy/Sieve/sieveFactory.cc
  src/sst/elements/memHierarchy/bus.cc
  src/sst/elements/memHierarchy/bus.h
  src/sst/elements/memHierarchy/cacheController.h
  src/sst/elements/memHierarchy/cacheFactory.cc
  src/sst/elements/memHierarchy/directoryController.cc
  src/sst/elements/memHierarchy/directoryController.h
  src/sst/elements/memHierarchy/dmaEngine.cc
  src/sst/elements/memHierarchy/memEvent.h
  src/sst/elements/memHierarchy/memEventBase.h
  src/sst/elements/memHierarchy/memEventCustom.h
  src/sst/elements/memHierarchy/memLink.cc
  src/sst/elements/memHierarchy/memLink.h
  src/sst/elements/memHierarchy/memLinkBase.h
  src/sst/elements/memHierarchy/memNIC.cc
  src/sst/elements/memHierarchy/memNIC.h
  src/sst/elements/memHierarchy/memNICBase.h
  src/sst/elements/memHierarchy/memNICFour.cc
  src/sst/elements/memHierarchy/memNICFour.h
  src/sst/elements/memHierarchy/memTypes.h
  src/sst/elements/memHierarchy/membackend/HBMpagedMultiBackend.h
  src/sst/elements/memHierarchy/membackend/backing.h
  src/sst/elements/memHierarchy/membackend/memBackend.h
  src/sst/elements/memHierarchy/membackend/memBackendConvertor.cc
  src/sst/elements/memHierarchy/membackend/memBackendConvertor.h
  src/sst/elements/memHierarchy/membackend/pagedMultiBackend.h
  src/sst/elements/memHierarchy/membackend/simpleDRAMBackend.h
  src/sst/elements/memHierarchy/membackend/simpleMemBackend.h
  src/sst/elements/memHierarchy/membackend/simpleMemBackendConvertor.cc
  src/sst/elements/memHierarchy/membackend/simpleMemBackendConvertor.h
  src/sst/elements/memHierarchy/memoryCacheController.cc
  src/sst/elements/memHierarchy/memoryCacheController.h
  src/sst/elements/memHierarchy/memoryController.cc
  src/sst/elements/memHierarchy/memoryController.h
  src/sst/elements/memHierarchy/moveEvent.h
  src/sst/elements/memHierarchy/multithreadL1Shim.cc
  src/sst/elements/memHierarchy/multithreadL1Shim.h
  src/sst/elements/memHierarchy/scratchpad.cc
  src/sst/elements/memHierarchy/standardInterface.cc
  src/sst/elements/memHierarchy/standardInterface.h
  src/sst/elements/memHierarchy/testcpu/standardCPU.cc
  src/sst/elements/memHierarchy/testcpu/standardCPU.h
  src/sst/elements/memHierarchy/tests/mhlib.py
  src/sst/elements/memHierarchy/tests/test_coherence_1core.py
Labels: SST-memHierarchy
